<table>
    <tbody id="toolBody">
        <tr>
            <td colspan="3" class="blue-ban">
                基本号码在5个号码以上，胆码为0至2之间
            </td>
        </tr>
        <tr id="dingwei">
            <td class="blue-one">
                1、请选择<br>
                基本号码和胆码
            </td>
            <td class="blue-two same max">
                <ul class="list">
                    <li class="aloneli">
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">01</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">02</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">03</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">04</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">05</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">06</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">07</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">08</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">09</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">10</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">11</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">12</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">13</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">14</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">15</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">16</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">17</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">18</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">19</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">20</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">21</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">22</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">23</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">24</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">25</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">26</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">27</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">28</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">29</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">30</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">31</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">32</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">33</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">34</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">35</span><br>
                    </li>
                    <li>
                        <span class="pick">
                            <input value="0" name="qqselect" id="qqselect0" type="radio" checked="checked" class="checkbox" />基本号码：<input type="text" name="qhm" id="qhm" readonly value="" />
                        </span>
                        <br />
                        <span class="pick short">
                            <input type="radio" value="1" name="qqselect" id="qqselect1" class="checkbox" />前区胆码：<input type="text" name="qdm" id="qdm" readonly value="" />
                        </span>
                    </li>
                </ul>
            </td>
            <td class="blue-three same">
                <ul class="list">
                    <li class="aloneli width160">
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">01</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">02</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">03</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">04</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">05</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">06</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">07</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">08</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">09</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">10</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">11</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">12</span><br />
                    </li>
                    <li>
                        <span class="pick">
                            <input value="0" name="selecthqm" id="selecthqm1" type="radio" checked="checked" class="checkbox" />后区号码：<input type="text" name="hhm" id="hhm" readonly value="" />
                        </span><br />
                        <span class="pick short">
                            <input type="radio" value="1" name="selecthqm" id="selecthqm2" type="radio" class="checkbox" />后区胆码：<input type="text" name="hdm" id="hdm" readonly value="" />
                        </span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr height="5"></tr>
        <tr>
            <td class="grey-one">
                2、请选择缩水条件
            </td>
            <td class="grey-two same">
                <ul class="list ssq">
                    <li class="area">前区</li>
                    <li class="ballbox">
                        <span>AC值：</span>
                        <span type="checkbox" value="0" class="frame white">0</span>
                        <span type="checkbox" value="1" class="frame white">1</span>
                        <span type="checkbox" value="2" class="frame white">2</span>
                        <span type="checkbox" value="3" class="frame white">3</span>
                        <span type="checkbox" value="4" class="frame white">4</span>
                        <span type="checkbox" value="5" class="frame white">5</span>
                        <span type="checkbox" value="6" class="frame white">6</span>
                        <span type="checkbox" value="7" class="frame white">7</span>
                        <span type="checkbox" value="8" class="frame white">8</span>
                        <span type="checkbox" value="9" class="frame white">9</span>
                        <input name="FilterName_137" id="FilterName_137" type="hidden" />
                    </li>
                    <li>
                        首位号码的奇偶值：
                        <input name="FilterName_138" type="radio" value="1" class="radio" /><label for="bjo1">奇数</label>
                        <input name="FilterName_138" type="radio" value="2" class="radio" /><label for="bjo2">偶数</label>
                        <input name="FilterName_138" type="radio" value="不限" class="radio" /><label for="bjo3">不限</label><br>
                        <span class="suffix">(即开奖号码中的最小号码)</span>
                    </li>
                    <li>
                        末位号码的奇偶值：
                        <input name="FilterName_139" type="radio" value="1" class="radio" /><label for="ejo1">奇数</label>
                        <input name="FilterName_139" type="radio" value="2" class="radio" /><label for="ejo2">偶数</label>
                        <input name="FilterName_139" type="radio" value="不限" class="radio" /><label for="ejo3">不限</label><br>
                        <span class="suffix">(即开奖号码中的最大号码)</span>
                    </li>
                    <li>
                        和值：
                        <input name="FilterName_140" type="text" maxlength="3" class="return" />
                        至
                        <input name="FilterName_140" type="text" name="ehz" id="ehz" maxlength="3" class="return" />
                        <span class="suffix">(用键盘输入)</span>
                    </li>
                    <li class="framebox">
                        <span>奇偶比：</span>
                        <span class="frame white-36">0:5</span>
                        <span class="frame white-36">1:4</span>
                        <span class="frame white-36">2:3</span>
                        <span class="frame white-36">3:2</span>
                        <span class="frame white-36">4:1</span>
                        <span class="frame white-36">5:0</span>
                        <input name="FilterName_141" id="FilterName_141" type="hidden" />
                    </li>
                    <li class="framebox">
                        <span>大小比：</span>
                        <span class="frame white-36" value="0:5">0:5</span>
                        <span class="frame white-36" value="1:4">1:4</span>
                        <span class="frame white-36" value="2:3">2:3</span>
                        <span class="frame white-36" value="3:2">3:2</span>
                        <span class="frame white-36" value="4:1">4:1</span>
                        <span class="frame white-36" value="5:0">5:0</span><br>
                        <span class="suffix">(约定18以上为大)</span>
                        <input name="FilterName_142" id="FilterName_142" type="hidden" />
                    </li>
                    <li class="framebox">
                        <span>质合比：</span>
                        <span class="frame white-36" value="0:6">0:5</span>
                        <span class="frame white-36" value="1:5">1:4</span>
                        <span class="frame white-36" value="2:4">2:3</span>
                        <span class="frame white-36" value="3:3">3:2</span>
                        <span class="frame white-36" value="4:2">4:1</span>
                        <span class="frame white-36" value="5:1">5:0</span>
                        <input name="FilterName_143" id="FilterName_143" type="hidden" />
                    </li>
                    <li class="framebox">
                        <span>连号组数：</span><br>
                        <span class="frame white-80" value="0">无连号</span>
                        <span class="frame white-80" value="1">1连号</span>
                        <span class="frame white-80" value="2">2连号</span>
                        <span class="frame white-80" value="3">3连号</span>
                        <span class="frame white-80" value="4">4连号</span>
                        <span class="frame white-80" value="5">5连号</span>
                        <input name="FilterName_144" id="FilterName_144" type="hidden" />
                    </li>
                    <li class="ballbox">
                        <span>每注中尾数不相同的投注号码 ：</span>
                        <span class="bigball grey" value="2">2</span>
                        <span class="bigball grey" value="3">3</span>
                        <span class="bigball grey" value="4">4</span>
                        <span class="bigball grey" value="5">5</span>
                        <span class="bigball grey" value="6">6</span>
                        <input name="FilterName_145" id="FilterName_145" type="hidden" />
                    </li>
                </ul>
            </td>
            <td class="grey-three same">
                <ul class="list ssq">
                    <li class="area">后区</li>
                    <li>
                        首位号码的奇偶值：
                        <input name="FilterName_146" type="radio" value="1" class="radio" /><label for="bjo1">奇数</label>
                        <input name="FilterName_146" type="radio" value="2" class="radio" /><label for="bjo2">偶数</label>
                        <input name="FilterName_146" type="radio" value="不限" class="radio" /><label for="bjo3">不限</label>
                    </li>
                    <li>
                        末位号码的奇偶值：
                        <input name="FilterName_147" type="radio" value="1" class="radio" /><label for="ejo1">奇数</label>
                        <input name="FilterName_147" type="radio" value="2" class="radio" /><label for="ejo2">偶数</label>
                        <input name="FilterName_147" type="radio" value="不限" class="radio" /><label for="ejo3">不限</label>
                    </li>
                    <li>
                        和值：
                        <input name="FilterName_148" type="text" maxlength="3" class="return" />
                        至
                        <input name="FilterName_148" type="text" maxlength="3" class="return" />
                        <span class="suffix">(用键盘输入)</span>
                    </li>
                    <li class="framebox">
                        <span>奇偶比：</span>
                        <span class="frame white-36" value="0:2">0:2</span>
                        <span class="frame white-36" value="1:1">1:1</span>
                        <span class="frame white-36" value="2:0">2:0</span>
                        <input name="FilterName_149" id="FilterName_149" type="hidden" />
                    </li>
                    <li class="framebox">
                        <span>大小比：</span>
                        <span class="frame white-36" value="0:2">0:2</span>
                        <span class="frame white-36" value="1:1">1:1</span>
                        <span class="frame white-36" value="2:0">2:0</span>
                        <input name="FilterName_150" id="FilterName_150" type="hidden" />
                    </li>
                    <li class="framebox">
                        <span>质合比：</span>
                        <span class="frame white-36" value="0:2">0:2</span>
                        <span class="frame white-36" value="1:1">1:1</span>
                        <span class="frame white-36" value="2:0">2:0</span>
                        <input name="FilterName_151" id="FilterName_151" type="hidden" />
                    </li>
                    <li class="framebox">
                        <span>连号组数：</span><br>
                        <span class="frame white-80" value="0">无连号</span>
                        <span class="frame white-80" value="1">1连号</span>
                        <span class="frame white-80" value="2">2连号</span>
                        <input name="FilterName_152" id="FilterName_152" type="hidden" />
                    </li>
                </ul>
            </td>
        </tr>
        <tr height="5"></tr>
        <tr>
            <td colspan="3" class="blue-one" style="width: 100%;">
                <div class="but_1">
                    <input type="image" name="imageField" class="input" id="imageField" src="/static/images/kjss.gif" onclick="return checkNum();" />
                    <input type="image" name="imageField3" class="last" id="resetImage" src="/static/images/resetss.gif" />
                </div>
            </td>
        </tr>
    </tbody>
</table>
