<table>
    <tbody id="toolBody">
        <tr>
            <td class="blue-one">
                请选择7到18个红球号码
            </td>
            <td class="blue-two both">
                <ul class="list">
                    <li class="ballbox width440">
                        <span class="bigball grey-28">01</span>
                        <span class="bigball grey-28">02</span>
                        <span class="bigball grey-28">03</span>
                        <span class="bigball grey-28">04</span>
                        <span class="bigball grey-28">05</span>
                        <span class="bigball grey-28">06</span>
                        <span class="bigball grey-28">07</span>
                        <span class="bigball grey-28">08</span>
                        <span class="bigball grey-28">09</span>
                        <span class="bigball grey-28">10</span>
                        <span class="bigball grey-28">11</span>
                        <span class="bigball grey-28">12</span>
                        <span class="bigball grey-28">13</span>
                        <span class="bigball grey-28">14</span>
                        <span class="bigball grey-28">15</span>
                        <span class="bigball grey-28">16</span>
                        <span class="bigball grey-28">17</span>
                        <span class="bigball grey-28">18</span>
                        <span class="bigball grey-28">19</span>
                        <span class="bigball grey-28">20</span>
                        <span class="bigball grey-28">21</span>
                        <span class="bigball grey-28">22</span>
                        <span class="bigball grey-28">23</span>
                        <span class="bigball grey-28">24</span>
                        <span class="bigball grey-28">25</span>
                        <span class="bigball grey-28">26</span>
                        <span class="bigball grey-28">27</span>
                        <span class="bigball grey-28">28</span>
                        <span class="bigball grey-28">29</span>
                        <span class="bigball grey-28">30</span>
                        <span class="bigball grey-28">31</span>
                        <span class="bigball grey-28">32</span>
                        <span class="bigball grey-28">33</span>
                        <span class="bigball grey-28">34</span>
                        <span class="bigball grey-28">35</span>
                        <input type="hidden" value="" id="FilterName_229" name="FilterName_229" />
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr height="5"></tr>
        <tr>
            <td colspan="3" class="blue-one" style="width: 100%;">
                <div class="but_1">
                    <input type="image" name="imageField" id="imageField" src="/static/images/kszh.gif" />
                    <input type="image" name="imageField3" id="resetImage" src="/static/images/resetss.gif" class="last" />
                </div>
            </td>
        </tr>
    </tbody>
</table>
<h2>
    复式投注与旋转矩阵对比表
</h2>
<table border="0" align="center" cellpadding="0" cellspacing="0" class="finally">
    <tbody>
        <tr height="40" bgcolor="#ededed">
            <th width="200">
                号码个数
            </th>
            <th width="200">
                复式注数
            </th>
            <th width="200">
                资金
            </th>
            <th width="200">
                旋转注数
            </th>
            <th width="200">
                资金
            </th>
            <th width="200">
                缩水比例
            </th>
        </tr>
        <tr height="36">
            <td>
                <div>
                    7
                </div>
            </td>
            <td>
                <div class="red">
                    21
                </div>
            </td>
            <td>
                <div>
                    42
                </div>
            </td>
            <td>
                <div class="red">
                    3
                </div>
            </td>
            <td>
                <div>
                    6
                </div>
            </td>
            <td>
                <div>
                    85.7%
                </div>
            </td>
        </tr>
        <tr height="36" bgcolor="#f7f7f7">
            <td>
                <div>
                    8
                </div>
            </td>
            <td>
                <div class="red">
                    56
                </div>
            </td>
            <td>
                <div>
                    112
                </div>
            </td>
            <td>
                <div class="red">
                    5
                </div>
            </td>
            <td>
                <div>
                    10
                </div>
            </td>
            <td>
                <div>
                    91%
                </div>
            </td>
        </tr>
        <tr height="36">
            <td>
                <div>
                    9
                </div>
            </td>
            <td>
                <div class="red">
                    126
                </div>
            </td>
            <td>
                <div>
                    252
                </div>
            </td>
            <td>
                <div class="red">
                    9
                </div>
            </td>
            <td>
                <div>
                    18
                </div>
            </td>
            <td>
                <div>
                    92.9%
                </div>
            </td>
        </tr>
        <tr height="36" bgcolor="#f7f7f7">
            <td>
                <div>
                    10
                </div>
            </td>
            <td>
                <div class="red">
                    252
                </div>
            </td>
            <td>
                <div>
                    504
                </div>
            </td>
            <td>
                <div class="red">
                    14
                </div>
            </td>
            <td>
                <div>
                    28
                </div>
            </td>
            <td>
                <div>
                    94.4%
                </div>
            </td>
        </tr>
        <tr height="36">
            <td>
                <div>
                    11
                </div>
            </td>
            <td>
                <div class="red">
                    462
                </div>
            </td>
            <td>
                <div>
                    924
                </div>
            </td>
            <td>
                <div class="red">
                    22
                </div>
            </td>
            <td>
                <div>
                    44
                </div>
            </td>
            <td>
                <div>
                    95.2%
                </div>
            </td>
        </tr>
        <tr height="36" bgcolor="#f7f7f7">
            <td>
                <div>
                    12
                </div>
            </td>
            <td>
                <div class="red">
                    792
                </div>
            </td>
            <td>
                <div>
                    1584
                </div>
            </td>
            <td>
                <div class="red">
                    35
                </div>
            </td>
            <td>
                <div>
                    70
                </div>
            </td>
            <td>
                <div>
                    95.6%
                </div>
            </td>
        </tr>
        <tr height="36">
            <td>
                <div>
                    13
                </div>
            </td>
            <td>
                <div class="red">
                    1287
                </div>
            </td>
            <td>
                <div>
                    2574
                </div>
            </td>
            <td>
                <div class="red">
                    50
                </div>
            </td>
            <td>
                <div>
                    100
                </div>
            </td>
            <td>
                <div>
                    96%
                </div>
            </td>
        </tr>
        <tr height="36" bgcolor="#f7f7f7">
            <td>
                <div>
                    14
                </div>
            </td>
            <td>
                <div class="red">
                    2002
                </div>
            </td>
            <td>
                <div>
                    4004
                </div>
            </td>
            <td>
                <div class="red">
                    69
                </div>
            </td>
            <td>
                <div>
                    138
                </div>
            </td>
            <td>
                <div>
                    96.6%
                </div>
            </td>
        </tr>
        <tr height="36">
            <td>
                <div>
                    15
                </div>
            </td>
            <td>
                <div class="red">
                    3003
                </div>
            </td>
            <td>
                <div>
                    6006
                </div>
            </td>
            <td>
                <div class="red">
                    95
                </div>
            </td>
            <td>
                <div>
                    190
                </div>
            </td>
            <td>
                <div>
                    96.8%
                </div>
            </td>
        </tr>
        <tr height="36" bgcolor="#f7f7f7">
            <td>
                <div>
                    16
                </div>
            </td>
            <td>
                <div class="red">
                    4368
                </div>
            </td>
            <td>
                <div>
                    8736
                </div>
            </td>
            <td>
                <div class="red">
                    134
                </div>
            </td>
            <td>
                <div>
                    268
                </div>
            </td>
            <td>
                <div>
                    96.9%
                </div>
            </td>
        </tr>
        <tr height="36">
            <td>
                <div>
                    17
                </div>
            </td>
            <td>
                <div class="red">
                    6188
                </div>
            </td>
            <td>
                <div>
                    12386
                </div>
            </td>
            <td>
                <div class="red">
                    179
                </div>
            </td>
            <td>
                <div>
                    358
                </div>
            </td>
            <td>
                <div>
                    97.1%
                </div>
            </td>
        </tr>
        <tr height="36" bgcolor="#f7f7f7">
            <td>
                <div>
                    18
                </div>
            </td>
            <td>
                <div class="red">
                    8568
                </div>
            </td>
            <td>
                <div>
                    17136
                </div>
            </td>
            <td>
                <div class="red">
                    234
                </div>
            </td>
            <td>
                <div>
                    468
                </div>
            </td>
            <td>
                <div>
                    97.3%
                </div>
            </td>
        </tr>
    </tbody>
</table>
