<table>
    <tbody id="toolBody">
        <tr>
            <td class="blue-one">
                和值
            </td>
            <td class="blue-two both">
                <ul class="list">
                    <li class="ballbox width560">
                        <span class="bigball grey-28">00</span>
                        <span class="bigball grey-28">01</span>
                        <span class="bigball grey-28">02</span>
                        <span class="bigball grey-28">03</span>
                        <span class="bigball grey-28">04</span>
                        <span class="bigball grey-28">05</span>
                        <span class="bigball grey-28">06</span>
                        <span class="bigball grey-28">07</span>
                        <span class="bigball grey-28">08</span>
                        <span class="bigball grey-28">09</span>
                        <span class="bigball grey-28">10</span>
                        <span class="bigball grey-28">11</span>
                        <span class="bigball grey-28">12</span>
                        <span class="bigball grey-28">13</span><br />
                        <span class="bigball grey-28">14</span>
                        <span class="bigball grey-28">15</span>
                        <span class="bigball grey-28">16</span>
                        <span class="bigball grey-28">17</span>
                        <span class="bigball grey-28">18</span>
                        <span class="bigball grey-28">19</span>
                        <span class="bigball grey-28">20</span>
                        <span class="bigball grey-28">21</span>
                        <span class="bigball grey-28">22</span>
                        <span class="bigball grey-28">23</span>
                        <span class="bigball grey-28">24</span>
                        <span class="bigball grey-28">25</span>
                        <span class="bigball grey-28">26</span>
                        <span class="bigball grey-28">27</span>
                        <input type="hidden" name="FilterName_273" id="FilterName_273" />
                    </li>
                </ul>
            </td>
        </tr>
        <tr height="5"></tr>
        <tr>
            <td class="grey-one half kennedy" colspan="2">
                <ul class="list zhuhao">
                    <li class="left">
                        <span>
                            <input name="zuhe" type="radio" value="直选" checked="checked" id="zuhe1" onclick="Czuhe('right');" class="radio" /><label for="zuhe1">生成所有直选:</label>
                        </span><br />
                        <span>
                            <input type="radio" name="zuhe" value="组选" id="zuhe2" onclick="Czuhe('right');" class="radio" /><label for="zuhe2">生成所有组选:</label>
                        </span>
                    </li>
                    <li class="right">
                        <input name="zuhe3" type="checkbox" id="zuhe3" value="组三" checked="checked" />
                        <label for="zuhe3">
                            包含组三
                        </label>
                        <input name="zuhe6" type="checkbox" id="zuhe6" value="组六" checked="checked" />
                        <label for="zuhe6">
                            包含组六
                        </label>
                        <input name="baozi" type="checkbox" id="baozi" value="豹子" checked="checked" />
                        <label for="baozi">
                            包含豹子
                        </label>
                    </li>
                </ul>
            </td>
        </tr>
        <tr height="5"></tr>
        <tr>
            <td colspan="3" class="blue-one" style="width: 100%;">
                <div class="but_1">
                    <input type="image" name="imageField" id="imageField" src="/static/images/kszh.gif" />
                    <input type="image" name="imageField3" id="resetImage" src="/static/images/resetss.gif" class="last" />
                </div>
            </td>
        </tr>
    </tbody>
</table>
