<table>
    <tbody id="toolBody">
        <tr>
            <td class="blue-one">
                奇偶
            </td>
            <td class="blue-two both">
                <ul class="list">
                    <li class="framebox width600">
                        <span class="frame white-80">奇奇奇</span>
                        <span class="frame white-80">奇奇偶</span>
                        <span class="frame white-80">奇偶偶</span>
                        <span class="frame white-80">奇偶奇</span>
                        <span class="frame white-80">偶偶偶</span>
                        <span class="frame white-80">偶偶奇</span>
                        <span class="frame white-80">偶奇奇</span>
                        <span class="frame white-80">偶奇偶</span>
                        <input type="hidden" name="FilterName_286" id="FilterName_286" />
                    </li>
                </ul>
            </td>
        </tr>
        <tr height="5"></tr>
        <tr>
            <td class="grey-one half kennedy" colspan="2">
                <ul class="list zhuhao">
                    <li class="left">
                        <span>
                            <input name="zuhe" type="radio" value="直选" checked="checked" id="zuhe1" onclick="Czuhe('right');" class="radio" /><label for="zuhe1">生成所有直选:</label>
                        </span><br />
                        <span>
                            <input type="radio" name="zuhe" value="组选" id="zuhe2" onclick="Czuhe('right');" class="radio" /><label for="zuhe2">生成所有组选:</label>
                        </span>
                    </li>
                    <li class="right">
                        <input name="zuhe3" type="checkbox" id="zuhe3" value="组三" checked="checked" />
                        <label for="zuhe3">
                            包含组三
                        </label>
                        <input name="zuhe6" type="checkbox" id="zuhe6" value="组六" checked="checked" />
                        <label for="zuhe6">
                            包含组六
                        </label>
                        <input name="baozi" type="checkbox" id="baozi" value="豹子" checked="checked" />
                        <label for="baozi">
                            包含豹子
                        </label>
                    </li>
                </ul>
            </td>
        </tr>
        <tr height="5"></tr>
        <tr>
            <td colspan="3" class="blue-one" style="width: 100%;">
                <div class="but_1">
                    <input type="image" name="imageField" id="imageField" src="/static/images/kszh.gif" />
                    <input type="image" name="imageField3" id="resetImage" src="/static/images/resetss.gif" class="last" />
                </div>
            </td>
        </tr>
    </tbody>
</table>
