<table>
    <tbody id="toolBody">
        <tr>
            <td class="grey-ban" colspan="2">
                最新一期七乐彩开奖号是：第<span id="num_orders"></span>
                期<span id="num_nums" class="red"> 06 08 13 26 30 32</span>
                +
                <span class="wblue" id="blue_nums"></span>
            </td>
        </tr>
        <tr height="5"></tr>
        <tr>
            <td class="blue-ban" colspan="2">
                请用鼠标点击选择您要进行跟随分析的号码：
            </td>
        </tr>
        <tr>
            <td class="blue-two half">
                <ul class="list array rightArray" id="leftul">
                    <li class="adobeRight">
                        <input name="s1" type="radio" value="0" class="radio" checked="checked" onclick="checkedOther(this);" /><label class="bold">红球分析</label><br>
                        请选择 1 至 7 个红球：
                    </li>
                    <li class="ballbox width360">
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">01</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">02</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">03</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">04</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">05</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">06</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">07</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">08</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">09</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">10</span><br>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">11</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">12</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">13</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">14</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">15</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">16</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">17</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">18</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">19</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">20</span><br>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">21</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">22</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">23</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">24</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">25</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">26</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">27</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">28</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">29</span>
                        <span name="r" onclick="selectNumber(this)" class="bigball grey-28">30</span>
                    </li>
                </ul>
            </td>
            <td class="blue-two half">
                <ul class="list array selected" id="rightul">
                    <li>
                        <input name="s1" type="radio" value="1" class="radio" onclick="checkedOther(this);" /><label class="bold">蓝球分析</label><br />
                        请选择 1 个蓝球：
                    </li>
                    <li class="ballbox width360">
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">01</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">02</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">03</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">04</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">05</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">06</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">07</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">08</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">09</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">10</span><br>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">11</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">12</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">13</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">14</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">15</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">16</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">17</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">18</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">19</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">20</span><br>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">21</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">22</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">23</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">24</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">25</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">26</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">27</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">28</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">29</span>
                        <span name="b" onclick="selectBNumber(this)" class="bigball bgrey-28">30</span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="blue-three" style="padding-top: 10px;">
                <div class="hisfx">
                    分析的历史数据范围：
                    <input type="radio" name="r1" value="1" checked><label class="red bold">所有历史</label>
                    <input type="radio" name="r1" value="2"><label class="bold">最近100期</label>
                    <input type="radio" name="r1" value="3">从
                    <select name="r2" id="r2"></select>
                    到
                    <select name="r3" id="r3"></select>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr height="5"></tr>
        <tr>
            <td colspan="3" class="blue-one" style="width: 100%;">
                <div class="but_1">
                    <input type="image" onclick="check_start();return false;" name="imageField" id="imageField" src="/static/images/ksfx.gif" />
                    <input type="image" name="imageField3" id="resetImage" src="/static/images/resetss.gif" class="last" />
                </div>
            </td>
        </tr>
    </tbody>
</table>
<h2>
    分析结果
</h2>
<table id="result" style="display" border="0" align="center" cellpadding="0" cellspacing="0" class="follows"></table>
