<table>
    <tr>
        <td class="blue-one ban">
            请选择:红球号码个数
            <select name="h" id="h" onchange="changNumber();" style="color:#b73634; font-weight:bold;">
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
            </select>
            <br>方案注数：<span id="zhushu">8</span> 注    投注金额：￥<span id="money">16</span> 元
        </td>
    </tr>
    <tr height="5"></tr>
    <tr>
        <td class="grey-one ban">
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" id="infotable">
                <tbody>
                    <tr bgcolor="#ededed">
                        <th width="96">
                            投注号码<br />
                            个数
                        </th>
                        <th width="96" class="red">投注金额</th>
                        <th width="96">
                            基本号<br />
                            中奖个数
                        </th>
                        <th width="96">
                            特别号<br />
                            中奖个数
                        </th>
                        <th width="96">一等奖</th>
                        <th width="96">二等奖</th>
                        <th width="96">三等奖</th>
                        <th width="96">四等奖</th>
                        <th width="96">五等奖</th>
                        <th width="96">六等奖</th>
                        <th width="96">七等奖</th>
                        <th width="144">中奖金额</th>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td class="red">16</td>
                        <td>7</td>
                        <td>1</td>
                        <td>1</td>
                        <td>7</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1A+18000</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td class="red">16</td>
                        <td>7</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>7</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1B+1200</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td class="red">16</td>
                        <td>6</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>1</td>
                        <td>6</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>7000</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td class="red">16</td>
                        <td>6</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>2</td>
                        <td>0</td>
                        <td>6</td>
                        <td>0</td>
                        <td>0</td>
                        <td>450</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td class="red">16</td>
                        <td>5</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>2</td>
                        <td>1</td>
                        <td>5</td>
                        <td>0</td>
                        <td>640</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td class="red">16</td>
                        <td>5</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>3</td>
                        <td>0</td>
                        <td>5</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td class="red">16</td>
                        <td>4</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>3</td>
                        <td>1</td>
                        <td>55</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td class="red">16</td>
                        <td>4</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>4</td>
                        <td>35</td>
                    </tr>


                </tbody>
            </table>
        </td>
    </tr>
</table>
<h2>双色球中奖金额表</h2>
<table>
    <tbody border="0" align="center" cellpadding="0" cellspacing="0" class="follow">
        <tr height="40" bgcolor="#ededed">
            <th width="200">奖级</th>
            <th width="200" class="red">中奖条件</th>
            <th width="200">奖金</th>
            <th width="200">奖级</th>
            <th width="200" class="red">中奖条件</th>
            <th width="200">奖金</th>
        </tr>
        <tr height="36">
            <td>一等奖</td>
            <td class="red">7+0</td>
            <td>A元</td>
            <td>四等奖</td>
            <td class="red">5+1</td>
            <td> 200元</td>
        </tr>
        <tr height="36" bgcolor="f5f5f5">
            <td>二等奖</td>
            <td class="red">6+1</td>
            <td>B元</td>
            <td>五等奖</td>
            <td class="red">5+0</td>
            <td> 50</td>
        </tr>
        <tr height="36">
            <td>三等奖</td>
            <td class="red">6+0</td>
            <td>C元</td>
            <td>六等奖</td>
            <td class="red">4+1</td>
            <td>10元</td>
        </tr>
    </tbody>
</table>