<table>
    <tbody id="toolBody">
        <tr>
            <td class="blue-one">
                请选择8到20个红球号码
            </td>
            <td class="blue-two both">
                <ul class="list">
                    <li class="ballbox width360">
                        <span class="bigball grey-28">01</span>
                        <span class="bigball grey-28">02</span>
                        <span class="bigball grey-28">03</span>
                        <span class="bigball grey-28">04</span>
                        <span class="bigball grey-28">05</span>
                        <span class="bigball grey-28">06</span>
                        <span class="bigball grey-28">07</span>
                        <span class="bigball grey-28">08</span>
                        <span class="bigball grey-28">09</span>
                        <span class="bigball grey-28">10</span><br>
                        <span class="bigball grey-28">11</span>
                        <span class="bigball grey-28">12</span>
                        <span class="bigball grey-28">13</span>
                        <span class="bigball grey-28">14</span>
                        <span class="bigball grey-28">15</span>
                        <span class="bigball grey-28">16</span>
                        <span class="bigball grey-28">17</span>
                        <span class="bigball grey-28">18</span>
                        <span class="bigball grey-28">19</span>
                        <span class="bigball grey-28">20</span><br>
                        <span class="bigball grey-28">21</span>
                        <span class="bigball grey-28">22</span>
                        <span class="bigball grey-28">23</span>
                        <span class="bigball grey-28">24</span>
                        <span class="bigball grey-28">25</span>
                        <span class="bigball grey-28">26</span>
                        <span class="bigball grey-28">27</span>
                        <span class="bigball grey-28">28</span>
                        <span class="bigball grey-28">29</span>
                        <span class="bigball grey-28">30</span>
                        <input type="hidden" name="FilterName_323" id="FilterName_323" />
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr height="5"></tr>
        <tr>
            <td colspan="3" class="blue-one" style="width: 100%;">
                <div class="but_1">
                    <input type="image" name="imageField" id="imageField" src="/static/images/kszh.gif" onclick="return checkNum();" />
                    <input type="image" name="imageField3" id="resetImage" src="/static/images/resetss.gif" class="last" />
                </div>
            </td>
        </tr>
    </tbody>
</table>
<h2>
    复式投注与旋转矩阵对比表
</h2>
<table border="0" align="center" cellpadding="0" cellspacing="0" class="finally">
    <tr height="40" bgcolor="#ededed">
        <td width="200">
            号码个数
        </td>
        <td width="200">
            复式注数
        </td>
        <td width="200">
            资金
        </td>
        <td width="200">
            旋转注数
        </td>
        <td width="200">
            资金
        </td>
        <td width="200">
            缩水比例
        </td>
    </tr>
    <tr height="36">
        <td>
            8
        </td>
        <td>
            <span class="red">8</span>
        </td>
        <td>
            16
        </td>
        <td>
            <span class="red">1</span>
        </td>
        <td>
            2
        </td>
        <td>
            87.5%
        </td>
    </tr>
    <tr height="36">
        <td>
            9
        </td>
        <td>
            <span class="red">36</span>
        </td>
        <td>
            72
        </td>
        <td>
            <span class="red">4</span>
        </td>
        <td>
            8
        </td>
        <td>
            88.9%
        </td>
    </tr>
    <tr height="36">
        <td>
            10
        </td>
        <td>
            <span class="red">120</span>
        </td>
        <td>
            240
        </td>
        <td>
            <span class="red">8</span>
        </td>
        <td>
            16
        </td>
        <td>
            93.3%
        </td>
    </tr>
    <tr height="36">
        <td>
            11
        </td>
        <td>
            <span class="red">330</span>
        </td>
        <td>
            660
        </td>
        <td>
            <span class="red">19</span>
        </td>
        <td>
            38
        </td>
        <td>
            94.2%
        </td>
    </tr>
    <tr height="36">
        <td>
            12
        </td>
        <td>
            <span class="red">792</span>
        </td>
        <td>
            1584
        </td>
        <td>
            <span class="red">35</span>
        </td>
        <td>
            70
        </td>
        <td>
            95.6%
        </td>
    </tr>
    <tr height="36">
        <td>
            13
        </td>
        <td>
            <span class="red">1716</span>
        </td>
        <td>
            3432
        </td>
        <td>
            <span class="red">61</span>
        </td>
        <td>
            122
        </td>
        <td>
            96.4%
        </td>
    </tr>
    <tr height="36">
        <td>
            14
        </td>
        <td>
            <span class="red">3432</span>
        </td>
        <td>
            6864
        </td>
        <td>
            <span class="red">100</span>
        </td>
        <td>
            200
        </td>
        <td>
            97.1%
        </td>
    </tr>
    <tr height="36">
        <td>
            15
        </td>
        <td>
            <span class="red">6435</span>
        </td>
        <td>
            12870
        </td>
        <td>
            <span class="red">181</span>
        </td>
        <td>
            362
        </td>
        <td>
            97.2%
        </td>
    </tr>
    <tr height="36">
        <td>
            16
        </td>
        <td>
            <span class="red">11440</span>
        </td>
        <td>
            22880
        </td>
        <td>
            <span class="red">293</span>
        </td>
        <td>
            586
        </td>
        <td>
            97.4%
        </td>
    </tr>
    <tr height="36">
        <td>
            17
        </td>
        <td>
            <span class="red">19448</span>
        </td>
        <td>
            38896
        </td>
        <td>
            <span class="red">444</span>
        </td>
        <td>
            888
        </td>
        <td>
            97.7%
        </td>
    </tr>
    <tr height="36">
        <td>
            18
        </td>
        <td>
            <span class="red">31824</span>
        </td>
        <td>
            63648
        </td>
        <td>
            <span class="red">660</span>
        </td>
        <td>
            1320
        </td>
        <td>
            97.9%
        </td>
    </tr>
    <tr height="36">
        <td>
            19
        </td>
        <td>
            <span class="red">50388</span>
        </td>
        <td>
            100776
        </td>
        <td>
            <span class="red">938</span>
        </td>
        <td>
            1876
        </td>
        <td>
            98.1%
        </td>
    </tr>
    <tr height="36">
        <td>
            20
        </td>
        <td>
            <span class="red">77520</span>
        </td>
        <td>
            155040
        </td>
        <td>
            <span class="red">1466</span>
        </td>
        <td>
            2932
        </td>
        <td>
            98.1%
        </td>
    </tr>
</table>
