<table>
    <tbody id="toolBody">
        <tr>
            <td class="blue-one ban" colspan="3">
                <ul class="list">
                    <li class="ballbox">
                        <span>第一位:</span>
                        <span class="bigball grey" id="bww" onclick="selectNum(this)">0</span>
                        <span class="bigball grey" id="bww" onclick="selectNum(this)">1</span>
                        <span class="bigball grey" id="bww" onclick="selectNum(this)">2</span>
                        <span class="bigball grey" id="bww" onclick="selectNum(this)">3</span>
                        <span class="bigball grey" id="bww" onclick="selectNum(this)">4</span>
                        <span class="bigball grey" id="bww" onclick="selectNum(this)">5</span>
                        <span class="bigball grey" id="bww" onclick="selectNum(this)">6</span>
                        <span class="bigball grey" id="bww" onclick="selectNum(this)">7</span>
                        <span class="bigball grey" id="bww" onclick="selectNum(this)">8</span>
                        <span class="bigball grey" id="bww" onclick="selectNum(this)">9</span>
                        <input type="text" name="bww" id="bww" style="display:none" />
                    </li>
                    <li class="ballbox">
                        <span>第二位:</span>
                        <span class="bigball grey" id="sww" onclick="selectNum(this)">0</span>
                        <span class="bigball grey" id="sww" onclick="selectNum(this)">1</span>
                        <span class="bigball grey" id="sww" onclick="selectNum(this)">2</span>
                        <span class="bigball grey" id="sww" onclick="selectNum(this)">3</span>
                        <span class="bigball grey" id="sww" onclick="selectNum(this)">4</span>
                        <span class="bigball grey" id="sww" onclick="selectNum(this)">5</span>
                        <span class="bigball grey" id="sww" onclick="selectNum(this)">6</span>
                        <span class="bigball grey" id="sww" onclick="selectNum(this)">7</span>
                        <span class="bigball grey" id="sww" onclick="selectNum(this)">8</span>
                        <span class="bigball grey" id="sww" onclick="selectNum(this)">9</span>
                        <input type="text" name="sww" id="sww" style="display:none" />
                    </li>
                    <li class="ballbox">
                        <span>第三位:</span>
                        <span class="bigball grey" id="ww" onclick="selectNum(this)">0</span>
                        <span class="bigball grey" id="ww" onclick="selectNum(this)">1</span>
                        <span class="bigball grey" id="ww" onclick="selectNum(this)">2</span>
                        <span class="bigball grey" id="ww" onclick="selectNum(this)">3</span>
                        <span class="bigball grey" id="ww" onclick="selectNum(this)">4</span>
                        <span class="bigball grey" id="ww" onclick="selectNum(this)">5</span>
                        <span class="bigball grey" id="ww" onclick="selectNum(this)">6</span>
                        <span class="bigball grey" id="ww" onclick="selectNum(this)">7</span>
                        <span class="bigball grey" id="ww" onclick="selectNum(this)">8</span>
                        <span class="bigball grey" id="ww" onclick="selectNum(this)">9</span>
                        <input type="text" name="ww" id="ww" style="display:none" />
                    </li>
                    <li class="ballbox">
                        <span>第四位:</span>
                        <span class="bigball grey" id="qw" onclick="selectNum(this)">0</span>
                        <span class="bigball grey" id="qw" onclick="selectNum(this)">1</span>
                        <span class="bigball grey" id="qw" onclick="selectNum(this)">2</span>
                        <span class="bigball grey" id="qw" onclick="selectNum(this)">3</span>
                        <span class="bigball grey" id="qw" onclick="selectNum(this)">4</span>
                        <span class="bigball grey" id="qw" onclick="selectNum(this)">5</span>
                        <span class="bigball grey" id="qw" onclick="selectNum(this)">6</span>
                        <span class="bigball grey" id="qw" onclick="selectNum(this)">7</span>
                        <span class="bigball grey" id="qw" onclick="selectNum(this)">8</span>
                        <span class="bigball grey" id="qw" onclick="selectNum(this)">9</span>
                        <input type="text" name="qw" id="qw" style="display:none" />
                    </li>
                    <li class="ballbox">
                        <span>第五位:</span>
                        <span class="bigball grey" id="bw" onclick="selectNum(this)">0</span>
                        <span class="bigball grey" id="bw" onclick="selectNum(this)">1</span>
                        <span class="bigball grey" id="bw" onclick="selectNum(this)">2</span>
                        <span class="bigball grey" id="bw" onclick="selectNum(this)">3</span>
                        <span class="bigball grey" id="bw" onclick="selectNum(this)">4</span>
                        <span class="bigball grey" id="bw" onclick="selectNum(this)">5</span>
                        <span class="bigball grey" id="bw" onclick="selectNum(this)">6</span>
                        <span class="bigball grey" id="bw" onclick="selectNum(this)">7</span>
                        <span class="bigball grey" id="bw" onclick="selectNum(this)">8</span>
                        <span class="bigball grey" id="bw" onclick="selectNum(this)">9</span>
                        <input type="text" name="bw" id="bw" style="display:none" />
                    </li>
                    <li class="ballbox">
                        <span>第六位:</span>
                        <span class="bigball grey" id="sw" onclick="selectNum(this)">0</span>
                        <span class="bigball grey" id="sw" onclick="selectNum(this)">1</span>
                        <span class="bigball grey" id="sw" onclick="selectNum(this)">2</span>
                        <span class="bigball grey" id="sw" onclick="selectNum(this)">3</span>
                        <span class="bigball grey" id="sw" onclick="selectNum(this)">4</span>
                        <span class="bigball grey" id="sw" onclick="selectNum(this)">5</span>
                        <span class="bigball grey" id="sw" onclick="selectNum(this)">6</span>
                        <span class="bigball grey" id="sw" onclick="selectNum(this)">7</span>
                        <span class="bigball grey" id="sw" onclick="selectNum(this)">8</span>
                        <span class="bigball grey" id="sw" onclick="selectNum(this)">9</span>
                        <input type="text" name="sw" id="sw" style="display:none" />
                    </li>
                    <li class="ballbox">
                        <span>第七位:</span>
                        <span class="bigball grey" id="gw" onclick="selectNum(this)">0</span>
                        <span class="bigball grey" id="gw" onclick="selectNum(this)">1</span>
                        <span class="bigball grey" id="gw" onclick="selectNum(this)">2</span>
                        <span class="bigball grey" id="gw" onclick="selectNum(this)">3</span>
                        <span class="bigball grey" id="gw" onclick="selectNum(this)">4</span>
                        <span class="bigball grey" id="gw" onclick="selectNum(this)">5</span>
                        <span class="bigball grey" id="gw" onclick="selectNum(this)">6</span>
                        <span class="bigball grey" id="gw" onclick="selectNum(this)">7</span>
                        <span class="bigball grey" id="gw" onclick="selectNum(this)">8</span>
                        <span class="bigball grey" id="gw" onclick="selectNum(this)">9</span>
                        <input type="text" name="gw" id="gw" style="display:none" />
                    </li>
                </ul>
            </td>
        </tr>
        <tr height="5"></tr>
        <tr>
            <td colspan="3" class="blue-one" style="width: 100%;">
                <div align="center">
                    <input type="image" name="imageField" id="imageField" src="/static/images/kszh.gif" onclick="return checkNum();" />
                    <input type="image" name="imageField3" id="resetImage" src="/static/images/resetss.gif" class="last" />
                </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
