<table>
    <tr>
        <td class="blue-two half">
            <ul class="list array">
                <li class="red">红球过滤条件 </li>
                <li>
                    奇偶比：
                    <select id="job" style="width: 66px;">
                        <option value="100" selected="selected">随机</option>
                        <option value="0:6">0:6</option>
                        <option value="1:5">1:5</option>
                        <option value="2:4">2:4</option>
                        <option value="3:3">3:3</option>
                        <option value="4:2">4:2</option>
                        <option value="5:1">5:1</option>
                        <option value="6:0">6:0</option>
                    </select>&nbsp;&nbsp;&nbsp; 大小比：
                    <select id="dxb" style="width: 66px;">
                        <option value="100" selected="selected">随机</option>
                        <option value="0:6">0:6</option>
                        <option value="1:5">1:5</option>
                        <option value="2:4">2:4</option>
                        <option value="3:3">3:3</option>
                        <option value="4:2">4:2</option>
                        <option value="5:1">5:1</option>
                        <option value="6:0">6:0</option>
                    </select>
                </li>
                <li>
                    和值范围：
                    <input type="text" id="bhz" name="bhz" class="return" style="width: 40px;" value="21" />
                    到
                    <input type="text" id="ehz" name="ehz" class="return" style="width: 40px;" value="183" />
                    &nbsp;&nbsp; 产生连号：
                    <input name="lh" type="radio" value="1" id="lh1" /><label for="lh1">是</label>
                    <input name="lh" type="radio" value="0" id="lh2" /><label for="lh2">否</label>
                    <input name="lh" type="radio" value="100" id="lh3" checked="checked" /><label for="lh3">随机</label>
                </li>
                <li>
                    红球定胆：
                    <select id="reddan1" name="reddan1" style="width: 66px;">
                        <option value="100" selected="selected">随机</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                    </select>
                    <select id="reddan2" name="reddan2" style="width: 66px;">
                        <option value="100" selected="selected">随机</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                    </select>
                    &nbsp;&nbsp;&nbsp; 红球杀号：
                    <select id="redkill1" style="width: 66px;">
                        <option value="100" selected="selected">随机</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                    </select>
                    <select id="redkill2" style="width: 66px;">
                        <option value="100" selected="selected">随机</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                    </select>
                </li>
            </ul>
        </td>
        <td class="blue-two half" colspan="2">
            <ul class="list array">
                <li class="wblue">蓝球过滤条件</li>
                <li>
                    蓝球定位：
                    <select id="bluedan" name="bluedan" style="width: 60px;">
                        <option value="100" selected="selected">随机</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;蓝球大小：
                    <select id="bluedx" name="bluedx">
                        <option value="0" selected="selected">随机</option>
                        <option value="2">大</option>
                        <option value="1">小</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;蓝球奇偶：
                    <select id="bluejo" name="bluejo">
                        <option value="0" selected="selected">随机</option>
                        <option value="2">偶</option>
                        <option value="1">奇</option>
                    </select>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr height="5"></tr>
    <tr>
        <td colspan="3" class="blue-one" style="width: 100%;">
            <div class="but_1">
                <input type="image" name="imageField" id="imageField" onclick="CreateNumber();return false;"
                       src="/static/images/ksxh.gif" />
                <input type="image" name="imageField3" id="resetImage" src="/static/images/resetss.gif"
                       class="last" />
            </div>
        </td>
    </tr>
</table>
<h2>
    随机结果
</h2>
<div class="result">
    <div class="sstitle">
        <h3>
            根据你选择的条件，随机号码如下：
        </h3>
        <div class="count-box-btn">
            <span style="float: right; width: 200px;">
                <input type="button" value="删除选中" class="false_1" id="deleteNumber" />
                <input type="button" value="保留选中" class="true_1" id="retainNumber" />
            </span>
            共计：<span class="red-text" id="spanZhuShu"></span>注 (金额：￥<span class="red-text" id="spanMoney"></span>
            元)
        </div>
    </div>
    <div class="number">
        <input type="hidden" name="numValue" id="numValue" />
        <input type="hidden" name="zhuShu" id="zhuShu" />
        <div id="outnumber">
        </div>
    </div>
</div>
