<table>
    <tbody id="toolBody">
        <tr>
            <td colspan="3" class="blue-ban">
                没胆码时，基本号不能超过13个；设置1个胆码时，基本号不能超过15个；设置2个胆码时，基本号不能超过17个
            </td>
        </tr>
        <tr>
            <td class="blue-one">
                1、请选择<br>
                基本号码和胆码
            </td>
            <td class="blue-two same">
                <ul class="list">
                    <li class="aloneli">
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">01</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">02</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">03</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">04</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">05</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">06</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">07</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">08</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">09</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">10</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">11</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">12</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">13</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">14</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">15</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">16</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">17</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">18</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">19</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">20</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">21</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">22</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">23</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">24</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">25</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">26</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">27</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">28</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">29</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">30</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">31</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">32</span>
                        <span class="bigball grey-28" name="h" onclick="selectNum(this)">33</span><br />
                        <span class="pick">基本号码：<input type="text" name="jb" id="jb" readonly value="" /></span>
                    </li>
                </ul>
            </td>
            <td class="blue-three same">
                <ul class="list">
                    <li class="aloneli">
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">01</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">02</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">03</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">04</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">05</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">06</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">07</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">08</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">09</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">10</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">11</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">12</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">13</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">14</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">15</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">16</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">17</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">18</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">19</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">20</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">21</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">22</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">23</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">24</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">25</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">26</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">27</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">28</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">29</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">30</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">31</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">32</span>
                        <span class="bigball grey-28" name="d" onclick="selectDM(this)">33</span><br />
                        <span class="pick">胆码：<input type="text" name="dm" id="dm" readonly value="" /></span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr height="5"></tr>
        <tr>
            <td class="grey-one">
                2、请选择缩水条件
            </td>
            <td class="grey-two same">
                <ul class="list ssq">
                    <li class="ballbox">
                        <span>AC值：</span>
                        <span type="checkbox" value="0" class="frame white">0</span>
                        <span type="checkbox" value="1" class="frame white">1</span>
                        <span type="checkbox" value="2" class="frame white">2</span>
                        <span type="checkbox" value="3" class="frame white">3</span>
                        <span type="checkbox" value="4" class="frame white">4</span>
                        <span type="checkbox" value="5" class="frame white">5</span>
                        <span type="checkbox" value="6" class="frame white">6</span>
                        <span type="checkbox" value="7" class="frame white">7</span>
                        <span type="checkbox" value="8" class="frame white">8</span>
                        <span type="checkbox" value="9" class="frame white">9</span>
                        <span type="checkbox" value="10" class="frame white">10</span>
                        <input type="hidden" name="FilterName_99" id="FilterName_99" />
                    </li>
                    <li>
                        首位号码的奇偶值：
                        <input name='FilterName_100' id='FilterName_100_0' type='radio' value='1' /><label for='FilterName_100_0'>奇数</label>
                        <input name='FilterName_100' id='FilterName_100_1' type='radio' value='2' /><label for='FilterName_100_1'>偶数</label>
                        <input name='FilterName_100' id='FilterName_100_2' type='radio' value='不限' /><label for='FilterName_100_2'>不限</label><br />
                        <span class="suffix">(即开奖号码中的最小号码)</span>
                    </li>
                    <li>
                        末位号码的奇偶值：
                        <input name='FilterName_101' id='FilterName_101_0' type='radio' value='1' isfilter='1' /><label for='FilterName_101_0'>奇数</label>
                        <input name='FilterName_101' id='FilterName_101_1' type='radio' value='2' isfilter='1' /><label for='FilterName_101_1'>偶数</label>
                        <input name='FilterName_101' id='FilterName_101_2' type='radio' value='不限' isfilter='1' /><label for='FilterName_101_2'>不限</label><br />
                        <span class="suffix">(即开奖号码中的最大号码)</span>
                    </li>
                    <li>
                        和值：
                        <input name="FilterName_102" id="beginhzqq" maxlength="3" class="return" type="text" />至
                        <input name="FilterName_102" id="endhz" maxlength="3" class="return" type="text" />
                        <span class="suffix">(用键盘输入)</span>
                    </li>
                </ul>
            </td>
            <td class="grey-three same">
                <ul class="list ssq">
                    <li class="ballbox">
                        <span>奇偶比：</span>
                        <span class="frame white-36">0:6</span>
                        <span class="frame white-36">1:5</span>
                        <span class="frame white-36">2:4</span>
                        <span class="frame white-36">3:3</span>
                        <span class="frame white-36">4:2</span>
                        <span class="frame white-36">5:1</span>
                        <span class="frame white-36">6:0</span>
                        <input type="hidden" name="FilterName_103" id="FilterName_103" />
                    </li>
                    <li class="framebox">
                        <span>大小比：</span>
                        <span class="frame white-36">0:6</span>
                        <span class="frame white-36">1:5</span>
                        <span class="frame white-36">2:4</span>
                        <span class="frame white-36">3:3</span>
                        <span class="frame white-36">4:2</span>
                        <span class="frame white-36">5:1</span>
                        <span class="frame white-36">6:0</span><br>
                        <span class="suffix">(约定16以上为大)</span>
                        <input type="hidden" name="FilterName_104" id="FilterName_104" />
                    </li>
                    <li class="framebox">
                        <span>质合比：</span>
                        <span class="frame white-36" value="0:6">0:6</span>
                        <span class="frame white-36" value="1:5">1:5</span>
                        <span class="frame white-36" value="2:4">2:4</span>
                        <span class="frame white-36" value="3:3">3:3</span>
                        <span class="frame white-36" value="4:2">4:2</span>
                        <span class="frame white-36" value="5:1">5:1</span>
                        <span class="frame white-36" value="6:0">6:0</span>
                        <input type="hidden" name="FilterName_105" id="FilterName_105" />
                    </li>
                    <li class="framebox">
                        <span>连号组数：</span><br>
                        <span class="frame white-80">无连号</span>
                        <span class="frame white-80">1连号</span>
                        <span class="frame white-80">2连号</span>
                        <span class="frame white-80">3连号</span>
                        <span class="frame white-80">4连号</span>
                        <span class="frame white-80">5连号</span>
                        <input type="hidden" name="FilterName_106" id="FilterName_106" />
                    </li>
                    <li class="ballbox">
                        <span>每注中尾数不相同的投注号码 ：</span>
                        <span class="bigball grey">2</span>
                        <span class="bigball grey">3</span>
                        <span class="bigball grey">4</span>
                        <span class="bigball grey">5</span>
                        <span class="bigball grey">6</span>
                        <input type="hidden" name="FilterName_107" id="FilterName_107" />
                    </li>
                </ul>
            </td>
        </tr>
        <tr height="5"></tr>
        <tr>
            <td colspan="3" class="blue-one" style="width: 100%;">
                <div class="but_1">
                    <input type="image" name="imageField" id="imageField" src="../static/images/kjss.gif" onclick="return checkValues();" />
                    <input type="image" name="imageField3" id="resetImage" src="../static/images/resetss.gif" class="last" />
                </div>
            </td>
        </tr>
    </tbody>
</table>
