<table>
    <tbody id="toolBody">
        <tr>
            <td class="blue-one">
                请选择“胆”、“拖”
            </td>
            <td class="blue-two same">
                <ul class="list array">
                    <li>请选择最多5个红球胆码 </li>
                    <li class="ballbox width420">
                        <span class="bigball grey-28">01</span>
                        <span class="bigball grey-28">02</span>
                        <span class="bigball grey-28">03</span>
                        <span class="bigball grey-28">04</span>
                        <span class="bigball grey-28">05</span>
                        <span class="bigball grey-28">06</span>
                        <span class="bigball grey-28">07</span>
                        <span class="bigball grey-28">08</span>
                        <span class="bigball grey-28">09</span>
                        <span class="bigball grey-28">10</span>
                        <span class="bigball grey-28">11</span>
                        <span class="bigball grey-28">12</span>
                        <span class="bigball grey-28">13</span>
                        <span class="bigball grey-28">14</span>
                        <span class="bigball grey-28">15</span>
                        <span class="bigball grey-28">16</span>
                        <span class="bigball grey-28">17</span>
                        <span class="bigball grey-28">18</span>
                        <span class="bigball grey-28">19</span>
                        <span class="bigball grey-28">20</span>
                        <span class="bigball grey-28">21</span>
                        <span class="bigball grey-28">22</span>
                        <span class="bigball grey-28">23</span>
                        <span class="bigball grey-28">24</span>
                        <span class="bigball grey-28">25</span>
                        <span class="bigball grey-28">26</span>
                        <span class="bigball grey-28">27</span>
                        <span class="bigball grey-28">28</span>
                        <span class="bigball grey-28">29</span>
                        <span class="bigball grey-28">30</span>
                        <span class="bigball grey-28">31</span>
                        <span class="bigball grey-28">32</span>
                        <span class="bigball grey-28">33</span>
                        <input type="hidden" name="FilterName_dm" id="FilterName_dm" type="text" />
                    </li>
                </ul>
            </td>
            <td class="blue-two same">
                <ul class="list array">
                    <li>请选择最多20个拖码</li>
                    <li class="ballbox width420">
                        <span onclick="selectNum(this)" class="bigball bgrey-28">01</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">02</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">03</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">04</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">05</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">06</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">07</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">08</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">09</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">10</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">11</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">12</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">13</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">14</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">15</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">16</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">17</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">18</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">19</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">20</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">21</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">22</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">23</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">24</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">25</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">26</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">27</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">28</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">29</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">30</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">31</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">32</span>
                        <span onclick="selectNum(this)" class="bigball bgrey-28">33</span>
                        <input type="hidden" name="FilterName_tm" id="FilterName_tm" type="text" />
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr height="5"></tr>
        <tr>
            <td colspan="3" class="blue-one" style="width: 100%;">
                <div class="but_1">
                    <input type="image" name="imageField" id="imageField" src="/static/images/ksjs.gif" />
                    <input type="image" name="imageField3" id="resetImage" src="/static/images/resetss.gif" class="last" />
                </div>
            </td>
        </tr>
    </tbody>
</table>
