<table class="missTable" id="chartBody">
    <thead>
        <tr>
            <th width="50">数字</th>
            <th width="52">循环<br />周期</th>
            <th width="85">实出次数<br />理论次数</th>
            <th width="60">出现<br />概率</th>
            <th width="70">平均<br />遗漏</th>
            <th width="55">最大<br />遗漏</th>
            <th width="55">历史最<br />大遗漏</th>
            <th width="55">上期<br />遗漏</th>
            <th width="60">本期<br />遗漏</th>
            <th width="55" class="blue">欲出<br />几率</th>
            <th width="55">投资<br />价值</th>
            <th width="55" class="blue">回补<br />几率</th>
            <th width="55">连出<br />概率</th>
            <th width="55">最大连<br />出次数</th>
            <th width="55">最大连<br />出遗漏</th>
            <th width="55">当前连<br />出遗漏</th>
            <th width="55">当前连<br />出几率</th>
        </tr>
    </thead>
    <tbody id="chartData">
        <!--@@missData-->
    </tbody>
</table>
