<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="BaseDb" connectionString="Server=101.200.33.46;Initial Catalog=LottomatBaseDB;User ID=sa;Password=zhaoyi18284594619" providerName="System.Data.SqlClient" />
  
  <!--<add name="BaseDb" connectionString="Server=61.156.157.244;Initial Catalog=LottomatBaseDB;User ID=sa;Password=NK4Qwql8Z?csv(X" providerName="System.Data.SqlClient" />-->
  
</connectionStrings>