<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 允许重复登录 -->
  <add key="CheckOnLine" value="false" />
  <!-- 允许用户注册 -->
  <add key="AllowUserRegister" value="false" />
  <!-- 启用即时通讯 -->
  <add key="UseMessage" value="false" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!-- 服务器缓存类型:WebCache、Redis、Memcached-->
  <add key="CacheType" value="WebCache" />
  <!-- ================== 2：这里主要是微信配置项内容部分 ================== -->
  <!--企业号CorpId -->
  <add key="CorpId" value="" />
  <!--企业号凭证密钥 -->
  <add key="CorpSecret" value="" />
  <!-- ================== 3：访问过滤配置 ================== -->
  <!--设置IP过滤 -->
  <add key="FilterIP" value="false" />
  <!--设置时段过滤 -->
  <add key="FilterTime" value="false" />
  <!-- ================== 4：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="18284594619" />
  <!-- 机构名称 -->
  <add key="CustomerCompanyName" value="大师兄" />
  <!-- 系统名称 -->
  <add key="SystemName" value="55128后台管理系统" />
  <!-- 软件名称 -->
  <add key="SoftName" value="55128后台管理系统" />
  <!-- 软件版本 -->
  <add key="Version" value="V1.0.0" />
  <!-- ================== 5：外部邮件参数 ================== -->
  <!-- 系统错误自动发送邮件 -->
  <add key="ErrorToMail" value="true" />
  <!-- 软件的错误报告发给谁，多个收件人用;隔开，最后一个不加;564440758@qq.com -->
  <add key="ErrorReportTo" value="zhaoyi_dsx@163.com" />
  <!-- 发出错误邮箱的地址 -->
  <add key="ErrorReportMailUserName" value="957007164@qq.com" />
  <!-- 发出错误邮箱的密码 -->
  <add key="ErrorReportMailPassword" value="fmzsjsyymevpbbdc" />
  <!-- 发出错误邮箱的名称 -->
  <add key="ErrorReportMailName" value="系统邮件中心" />
  <!-- 发出错误邮箱设置邮箱主机 -->
  <add key="ErrorReportMailHost" value="smtp.qq.com" />
  <!-- ================== 9：数据库链接字符串 ================== -->
  <!--资讯数据库-->
  <add key="InformationBase" value="Data Source=61.156.157.244;database=InformationBase;uid=sa;pwd=NK4Qwql8Z?csv(X;" />
  <!--图库-->
  <add key="GalleryBase" value="Data Source=61.156.157.244;database=GalleryBase;uid=sa;pwd=NK4Qwql8Z?csv(X;" />
  <!--CP55128-->
  <add key="CP55128" value="Data Source=61.156.157.244;database=CP55128;uid=sa;pwd=NK4Qwql8Z?csv(X;" />
  <!--CB55128-->
  <add key="CB55128" value="Data Source=61.156.157.244;database=CB55128;uid=sa;pwd=NK4Qwql8Z?csv(X;" />
  <!--开奖号-->
  <add key="LotteryNumber" value="Data Source=61.156.157.244;database=LotteryNumber;uid=sa;pwd=NK4Qwql8Z?csv(X;" />
  <!-- ================== 10：自动生成无开奖号记录的彩种 ================== -->
  <add key="AutoAddNewestLottery" value="FC3D,SSQ,QLC,PL5,DLT,QXC,DF6J1" />
  <!-- ================== 11：抓取最新期数彩种地址 ================== -->
  <!--双色球-->
  <add key="__SSQ__URL__" value="http://www.cwl.gov.cn/kjxx/ssq/kjgg/415282.shtml" />
  <add key="__SSQ__XPATH__" value="//html/body/div[3]/div[1]/div[2]/div[2]/ul/li[1]/span[1]" />
  <!--福彩3D-->
  <add key="__FC3D__URL__" value="http://www.cwl.gov.cn/kjxx/fc3d/kjgg/415281.shtml" />
  <add key="__FC3D__XPATH__" value="//html/body/div[3]/div[1]/div[2]/div[2]/ul/li[1]/span[1]" />
  <!--七乐彩-->
  <add key="__QLC__URL__" value="http://www.cwl.gov.cn/kjxx/qlc/kjgg/415265.shtml" />
  <add key="__QLC__XPATH__" value="//html/body/div[3]/div[1]/div[2]/div[2]/ul/li[1]/span[1]" />
  <!--排列3-->
  <add key="__PL3__URL__" value="http://www.lottery.gov.cn/historykj/history.jspx?_ltype=pls" />
  <add key="__PL3__XPATH__" value="//html/body/div[3]/div[2]/div[2]/table/tbody/tr[1]/td[1]" />
  <!--大乐透-->
  <add key="__DLT__URL__" value="http://www.lottery.gov.cn/historykj/history.jspx?_ltype=dlt" />
  <add key="__DLT__XPATH__" value="//html/body/div[3]/div[2]/div[2]/table/tbody/tr[1]/td[1]" />
  <!--七星彩-->
  <add key="__QXC__URL__" value="http://www.lottery.gov.cn/historykj/history.jspx?_ltype=qxc" />
  <add key="__QXC__XPATH__" value="//html/body/div[3]/div[2]/div[2]/table/tbody/tr[1]/td[1]" />
</appSettings>