<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="Lottomat.Data.IDatabase,Lottomat.Data" />
    <typeAlias alias="EFDatabase" type="Lottomat.Data.EF.Database,Lottomat.Data.EF" />
    <typeAlias alias="IDbContext" type="Lottomat.Data.EF.IDbContext,Lottomat.Data.EF" />
    <typeAlias alias="MySql" type="Lottomat.Data.EF.MySqlDbContext,Lottomat.Data.EF" />
    <typeAlias alias="SqlServer" type="Lottomat.Data.EF.SqlServerDbContext,Lottomat.Data.EF" />
  </typeAliases>
  <containers>
    <container name="DBcontainer">
      <type type="IDatabase" mapTo="EFDatabase" ></type >
      <!-- 默认数据库软件类型：SqlServer,MySql,Oracle,Access,SQLite-->
      <type type="IDbContext" mapTo="SqlServer" ></type >
      <type type="IDbContext" mapTo="SqlServer" name="SqlServer"></type >
      <type type="IDbContext" mapTo="MySql" name="MySql"></type >
    </container>
  </containers>
</unity>


<!--<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="Lottomat.Data.IDatabase,Lottomat.Data" />
    <typeAlias alias="EFDatabase" type="Lottomat.Data.EF.Database,Lottomat.Data.EF" />
    <typeAlias alias="IDbContext" type="Lottomat.Data.EF.IDbContext,Lottomat.Data.EF" />
    <typeAlias alias="MySql" type="Lottomat.Data.EF.MySqlDbContext,Lottomat.Data.EF" />
    <typeAlias alias="SqlServer" type="Lottomat.Data.EF.SqlServerDbContext,Lottomat.Data.EF" />
  </typeAliases>
  <containers>
    <container name="DBcontainer">
      <type type="IDatabase" mapTo="EFDatabase" ></type >
      -->
<!-- 默认数据库软件类型：SqlServer,MySql,Oracle,Access,SQLite-->
<!--
      -->
<!--<type type="IDbContext" mapTo="SqlServer" ></type >-->
<!--
      <type type="IDbContext" mapTo="SqlServer" name="SqlServer"></type >
      <type type="IDbContext" mapTo="MySql" name="MySql"></type >
    </container>
  </containers>
</unity>-->