<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!--设置调用API每分钟请求频率-->
  <add key="RequestFrequencyLimit" value="60000"/>
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 设置允许跨域地址 -->
  <add key="Origins" value="*" />
  <!--设置接口是否需要加签-->
  <add key="IsInterfaceSignature" value="false"/>
  
  <!--彩种编码、名称映射-->
  <add key="LotteryCategoryCodingMapping" value="QGC|全国彩,DFC|地方彩,GPC11X5|11选5,GPCK3|快3,GPCKL12|快乐十二,GPCKLSF|快乐十分,GPCSSC|时时彩,GPCQTC|其他彩种"/>
  <!--依次含义为正常球个数,蓝球个数,生肖球个数,季节球个数,方位球个数。不在这的是全部正常或者其他格式-->
  <add key="SpecialLotteryBallDict" value="SSQ,6,1,0,0,0|DLT,5,2,0,0,0|QLC,7,1,0,0,0|DF6J1,6,0,1,0,0|ZheJiang6J1,6,1,0,0,0|XinJiangFC35X7,7,1,0,0,0|FuJianTC36x7,7,1,0,0,0|GuangDong36x7,6,1,0,0,0|FuJian31x7,7,1,0,0,0|BeiJingKL8,20,1,0,0,0|GuangDongHC1,1,0,1,1,1|GuangXiKLSC,6,1,0,0,0|GuangDongSZFC,7,1,0,0,0|HeiLongJiangTC6J1,6,1,0,0,0|HeiLongJiang36x7,7,1,0,0,0|HeiLongJiangP62,6,1,0,0,0|LiaoNingFC35X7,7,1,0,0,0|XinJiangFC25X7,7,1,0,0,0"/>
  <!--全局三要素->Keywords模板-->
  <add key="SystemElementsKeywords" value="开奖助手,开奖结果,试机号,开机号,彩吧开奖,$Name$开奖结果查询"/>
  <!--全局三要素->Description模板-->
  <add key="SystemElementsDescription" value="为您提供全国彩票的开奖结果、开机号、试机号等内容，如双色球、福彩3D、大乐透、排列三、11选5、快3、时时彩、快乐十分、快乐12、群英会等彩种的开奖结果及查询。开奖助手提供$Name$开奖结果查询，包括$Name$今天开奖结果、开奖号码等内容，查询$Name$开奖结果就上开奖助手。"/>
  
  <!--开奖详情三要素->Keywords模板-->
  <add key="LotteryDetailElementsKeywords" value="{0}第{1}期开奖结果"/>
  <!--开奖详情三要素->Description模板-->
  <add key="LotteryDetailElementsDescription" value="{0}开奖结果公告,快开网(http://www.okkkj.com)于{1}更新{2}开奖结果及开奖结果详情，还可以查询最近开奖号码。"/>
  
  <!-- ================== 2：这里主要是服务器端配置项内容部分 ================== -->
  <!-- 是否启用发送错误日志到指定邮箱-->
  <add key="IsSendLogsToEmail" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!-- 服务器缓存类型:WebCache、Redis-->
  <add key="CacheType" value="WebCache" />
  <!-- ================== 5：系统邮件错误报告反馈相关 ================== -->
  <!-- 软件的错误报告发给谁，多个收件人用;隔开，最后一个不加 -->
  <add key="ErrorReportTo" value="zhaoyi_dsx@163.com" />
  <!-- 发出错误邮箱的地址 -->
  <add key="ErrorReportMailUserName" value="957007164@qq.com" />
  <!-- 发出错误邮箱的密码 -->
  <add key="ErrorReportMailPassword" value="fmzsjsyymevpbbdc" />
  <!-- 发出错误邮箱的名称 -->
  <add key="ErrorReportMailName" value="系统邮件中心" />
  <!-- 发出错误邮箱设置邮箱主机 -->
  <add key="ErrorReportMailHost" value="smtp.qq.com" />
  
  <!-- ================== 3：数据库链接字符串 ================== -->
  <!--基础数据库-->
  <!--<add key="BaseDB" value="Data Source=61.156.157.244;database=LottomatBaseDB;uid=sa;pwd=NK4Qwql8Z?csv(X;"/>-->
  <add key="BaseDB" value="Data Source=101.200.33.46;database=LottomatBaseDB;uid=sa;pwd=zhaoyi18284594619;"/>
  <!--资讯数据库-->
  <add key="InformationBase" value="Data Source=61.156.157.244;database=InformationBase;uid=sa;pwd=NK4Qwql8Z?csv(X;"/>
  <!--图库-->
  <add key="GalleryBase" value="Data Source=61.156.157.244;database=GalleryBase;uid=sa;pwd=NK4Qwql8Z?csv(X;"/>
  <!--CP55128-->
  <add key="CP55128" value="Data Source=61.156.157.244;database=CP55128;uid=sa;pwd=NK4Qwql8Z?csv(X;"/>
  <!--CB55128-->
  <add key="CB55128" value="Data Source=61.156.157.244;database=CB55128;uid=sa;pwd=NK4Qwql8Z?csv(X;"/>
  <!--开奖号-->
  <add key="LotteryNumber" value="Data Source=61.156.157.244;database=LotteryNumber;uid=sa;pwd=NK4Qwql8Z?csv(X;"/>
  <!--专题-->
  <add key="ThematicArticle" value=""/>
</appSettings>