@{
    ViewBag.Title = "接口缓存管理";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    ;
    $(function () {

        LoadData("QGC");

        $(":radio").click(function () {
            var which = $(this).val();

            LoadData(which);
        });

        function LoadData(which) {
            $.AjaxRequest({
                url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
                param: {
                    EnCode: which
                },
                type: "GET",
                dataType: "json",
                async: false,
                success: function (req) {
                    if (req) {
                        var html = '';
                        $.each(req, function (index, item) {
                            html += '<tr>';
                            html += '<td>' + (index + 1) + '</td>';
                            html += '<td style="text-align: left">' + item.ItemName + '</td>';
                            html += '<td style="text-align: left">' + item.SimpleSpelling + '</td>';
                            html += '<td><a href="#" data-name="' + item.ItemName +'" data-key="' + item.SimpleSpelling + '" onclick=removecache(this)>清除缓存</a></td>';
                            html += '</tr>';
                        });

                        $('#tbody-content').html(html);
                    }
                }
            });
        }
    });

    //清除彩种缓存
    function removecache(obj) {
        var key = $(obj).attr('data-key');
        var name = $(obj).attr('data-name');

        $.AjaxRequest({
            url: Common.GET_REMOVE_CACHE_API_URL(key),
            type: "GET",
            success: function (req) {
                if (req.Status == 200) {
                    dialogAlert("成功清除【" + name +"】相关缓存信息！", 1);
                } else {
                    dialogAlert("缓存清除失败，错误信息：" + req.Message + "，请尝试再次点击【清除缓存】按钮。", 2);
                }
            }
        });
    }
</script>

<style type="text/css">
    .table-content {
        width: 100%;
        border: 1px solid gainsboro;
        line-height: 2
    }

        .table-content thead tr {
            border-bottom: 1px solid gainsboro;
        }

        .table-content thead th {
            border-left: 1px solid gainsboro;
            font-size: 14px;
            text-align: center
        }

        .table-content tbody tr {
            border-bottom: 1px solid gainsboro;
        }

            .table-content tbody tr td {
                border-left: 1px solid gainsboro;
                text-align: center
            }

                .table-content tbody tr td a {
                    color: red;
                }
</style>

<div class="gridPanel">
    <div class="border" id="desktop" style="margin: 10px 10px 0 10px; background: #fff; overflow: auto;">
        <div class="portal-panel">
            <div class="row" style="overflow: hidden; margin-bottom: 10px;">
                <div style="width: 50%; float: left;">
                    <div class="portal-panel-title">
                        <i class="fa fa-cogs"></i>&nbsp;&nbsp;开奖号缓存信息
                    </div>
                    <div class="portal-panel-content" style="overflow: hidden; padding-top: 20px; padding-left: 30px; padding-right: 50px;">
                        <table class="form">
                            <tr>
                                <td class="formTitle"><span style="font-weight: bold">彩种：</span></td>
                                <td class="formValue">
                                    <input type="radio" name="radio-lottory-type" value="QGC" checked="checked" style="cursor: pointer" /><span>全国彩&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <input type="radio" name="radio-lottory-type" value="DFC" style="cursor: pointer" /><span>地方彩&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <input type="radio" name="radio-lottory-type" value="GPC11X5" style="cursor: pointer" /><span>11选5&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <input type="radio" name="radio-lottory-type" value="GPCK3" style="cursor: pointer" /><span>快3&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <input type="radio" name="radio-lottory-type" value="GPCKL12" style="cursor: pointer" /><span>快乐12&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <input type="radio" name="radio-lottory-type" value="GPCKLSF" style="cursor: pointer" /><span>快乐十分&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <input type="radio" name="radio-lottory-type" value="GPCQTC" style="cursor: pointer" /><span>其他彩种&nbsp;&nbsp;&nbsp;&nbsp;</span>

                                    @*<input type="radio" name="radio-lottory-type" value="All" style="cursor: pointer" /><span>全部</span>*@
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span style="color: red;font-size: 16px">（注意：请谨慎清理缓存信息！）</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table class="table-content">
                                        <thead>
                                            <tr>
                                                <th>编号</th>
                                                <th>名称</th>
                                                <th>Key</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody-content"></tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="width: 50%; float: left;">
                    <div class="portal-panel-title">
                        <i class="fa fa-glass"></i>&nbsp;&nbsp;其他缓存信息
                    </div>
                    <div class="portal-panel-content" style="overflow: hidden; padding-top: 20px; padding-left: 30px; padding-right: 50px;">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
