<table class="tbtable">
    <thead>
        <tr>
            <th rowspan="2" width="83"></th>
            <th colspan="5">除三余数-A型</th>
            <th colspan="15">除三余数-B型</th>
            <th colspan="4" rowspan="2">除三余数-C型</th>
        </tr>
        <tr>
            <th>直选</th>
            <th colspan="3">组选3</th>
            <th>组选6</th>
            <th colspan="7">组选3</th>
            <th colspan="8">组选6</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th rowspan="5">单<br />点<br />号<br />码</th>
            <td class="bg-yellow" width="37px">111</td>
            <td width="37px">003</td>
            <td width="37px">339</td>
            <td width="37px">669</td>
            <td class="bg-yellow" width="40px">036</td>
            <td width="37px">001</td>
            <td width="37px">113</td>
            <td width="37px">227</td>
            <td width="37px">443</td>
            <td width="37px">557</td>
            <td width="37px">773</td>
            <td width="37px">887</td>
            <td class="bg-yellow" width="37px">014</td>
            <td class="bg-yellow" width="37px">034</td>
            <td class="bg-yellow" width="37px">058</td>
            <td class="bg-yellow" width="37px">137</td>
            <td class="bg-yellow" width="37px">179</td>
            <td class="bg-yellow" width="37px">256</td>
            <td class="bg-yellow" width="37px">359</td>
            <td class="bg-yellow" width="37px">469</td>
            <td width="37px">012</td>
            <td width="37px">045</td>
            <td width="37px">168</td>
            <td width="37px">357</td>
        </tr>
        <tr>
            <td class="bg-yellow">333</td>
            <td>009</td>
            <td>441</td>
            <td>771</td>
            <td class="bg-yellow">069</td>
            <td>005</td>
            <td>115</td>
            <td>229</td>
            <td>445</td>
            <td>559</td>
            <td>775</td>
            <td>889</td>
            <td class="bg-yellow">016</td>
            <td class="bg-yellow">038</td>
            <td class="bg-yellow">067</td>
            <td class="bg-yellow">139</td>
            <td class="bg-yellow">236</td>
            <td class="bg-yellow">269</td>
            <td class="bg-yellow">368</td>
            <td class="bg-yellow">478</td>
            <td>018</td>
            <td>078</td>
            <td>234</td>
            <td>456</td>
        </tr>
        <tr>
            <td class="bg-yellow">555</td>
            <td>117</td>
            <td>447</td>
            <td>885</td>
            <td class="bg-yellow">258</td>
            <td>007</td>
            <td>119</td>
            <td>331</td>
            <td>449</td>
            <td>661</td>
            <td>779</td>
            <td>991</td>
            <td class="bg-yellow">023</td>
            <td class="bg-yellow">047</td>
            <td class="bg-yellow">089</td>
            <td class="bg-yellow">146</td>
            <td class="bg-yellow">238</td>
            <td class="bg-yellow">278</td>
            <td class="bg-yellow">379</td>
            <td class="bg-yellow">568</td>
            <td>027</td>
            <td>126</td>
            <td>249</td>
            <td>489</td>
        </tr>
        <tr>
            <td class="bg-yellow">777</td>
            <td>225</td>
            <td>663</td>
            <td>993</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>224</td>
            <td>335</td>
            <td>551</td>
            <td>665</td>
            <td>881</td>
            <td>995</td>
            <td class="bg-yellow">025</td>
            <td class="bg-yellow">049</td>
            <td class="bg-yellow">124</td>
            <td class="bg-yellow">148</td>
            <td class="bg-yellow">245</td>
            <td class="bg-yellow">289</td>
            <td class="bg-yellow">458</td>
            <td class="bg-yellow">689</td>
            <td></td>
            <td>135</td>
            <td>267</td>
            <td>579</td>
        </tr>
        <tr>
            <td class="bg-yellow">999</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>223</td>
            <td>337</td>
            <td>553</td>
            <td>667</td>
            <td>883</td>
            <td>997</td>
            <td class="bg-yellow">029</td>
            <td class="bg-yellow">056</td>
            <td class="bg-yellow">128</td>
            <td class="bg-yellow">157</td>
            <td class="bg-yellow">247</td>
            <td class="bg-yellow">346</td>
            <td class="bg-yellow">467</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>159</td>
            <td>348</td>
            <td>678</td>
        </tr>
        <tr>
            <th>单点注数</th>
            <td class="bg-yellow">5</td>
            <td></td>
            <td>12</td>
            <td></td>
            <td class="bg-yellow">3</td>
            <td colspan="7">33</td>
            <td colspan="8" class="bg-yellow">39</td>
            <td colspan="4">18</td>
        </tr>
        <tr>
            <th rowspan="5">双<br>点<br>号<br>码</th>
            <td class="bg-yellow">000</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>110</td>
            <td>224</td>
            <td>440</td>
            <td>554</td>
            <td>770</td>
            <td>884</td>
            <td class="bg-yellow">013</td>
            <td class="bg-yellow">035</td>
            <td class="bg-yellow">079</td>
            <td class="bg-yellow">145</td>
            <td class="bg-yellow">178</td>
            <td class="bg-yellow">259</td>
            <td class="bg-yellow">358</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>057</td>
            <td>189</td>
            <td>378</td>
        </tr>
        <tr>
            <td class="bg-yellow">222</td>
            <td>006</td>
            <td>336</td>
            <td>774</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>112</td>
            <td>226</td>
            <td>442</td>
            <td>556</td>
            <td>772</td>
            <td>886</td>
            <td class="bg-yellow">017</td>
            <td class="bg-yellow">037</td>
            <td class="bg-yellow">125</td>
            <td class="bg-yellow">149</td>
            <td class="bg-yellow">235</td>
            <td class="bg-yellow">268</td>
            <td class="bg-yellow">367</td>
            <td class="bg-yellow">569</td>
            <td></td>
            <td>123</td>
            <td>237</td>
            <td>459</td>
        </tr>
        <tr>
            <td class="bg-yellow">444</td>
            <td>114</td>
            <td>552</td>
            <td>882</td>
            <td class="bg-yellow">039</td>
            <td>002</td>
            <td>116</td>
            <td>332</td>
            <td>446</td>
            <td>662</td>
            <td>776</td>
            <td>992</td>
            <td class="bg-yellow">019</td>
            <td class="bg-yellow">046</td>
            <td class="bg-yellow">127</td>
            <td class="bg-yellow">158</td>
            <td class="bg-yellow">239</td>
            <td class="bg-yellow">347</td>
            <td class="bg-yellow">389</td>
            <td class="bg-yellow">578</td>
            <td>015</td>
            <td>129</td>
            <td>246</td>
            <td>468</td>
        </tr>
        <tr>
            <td class="bg-yellow">666</td>
            <td>228</td>
            <td>58</td>
            <td>990</td>
            <td class="bg-yellow">147</td>
            <td>004</td>
            <td>118</td>
            <td>334</td>
            <td>448</td>
            <td>664</td>
            <td>778</td>
            <td>994</td>
            <td class="bg-yellow">026</td>
            <td class="bg-yellow">059</td>
            <td class="bg-yellow">134</td>
            <td class="bg-yellow">167</td>
            <td class="bg-yellow">248</td>
            <td class="bg-yellow">349</td>
            <td class="bg-yellow">457</td>
            <td class="bg-yellow">589</td>
            <td>024</td>
            <td>138</td>
            <td>279</td>
            <td>567</td>
        </tr>
        <tr>
            <td class="bg-yellow">888</td>
            <td>330</td>
            <td>660</td>
            <td>996</td>
            <td class="bg-yellow">369</td>
            <td>008</td>
            <td>220</td>
            <td>338</td>
            <td>550</td>
            <td>668</td>
            <td>880</td>
            <td>998</td>
            <td class="bg-yellow">028</td>
            <td class="bg-yellow">068</td>
            <td class="bg-yellow">136</td>
            <td class="bg-yellow">169</td>
            <td class="bg-yellow">257</td>
            <td class="bg-yellow">356</td>
            <td class="bg-yellow">479</td>
            <td class="bg-yellow">679</td>
            <td>048</td>
            <td>156</td>
            <td>345</td>
            <td>789</td>
        </tr>
        <tr>
            <th>双点注数</th>
            <td class="bg-yellow">5</td>
            <td colspan="3">12</td>
            <td class="bg-yellow">3</td>
            <td colspan="7">33</td>
            <td colspan="8" class="bg-yellow">39</td>
            <td colspan="4">18</td>
        </tr>
        <tr>
            <th>类型注数</th>
            <td class="bg-yellow">10</td>
            <td colspan="3">24</td>
            <td class="bg-yellow">6</td>
            <td colspan="7">66</td>
            <td colspan="8" class="bg-yellow">78</td>
            <td colspan="4">36</td>
        </tr>
        <tr>
            <th>总注数</th>
            <th colspan="5">40</th>
            <th colspan="15">144</th>
            <th colspan="4">36</th>
        </tr>
    </tbody>
</table>