<table class="tbtable">
    <thead>
        <tr>
            <th rowspan="2">类型</th>
            <th colspan="8">大积数</th>
            <th colspan="17">小积数</th>
        </tr>
        <tr>
            <th>直选</th>
            <th colspan="4">组选3</th>
            <th colspan="3">组选6</th>
            <th>直选</th>
            <th colspan="6">组选3</th>
            <th colspan="10">组选6</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th rowspan="5">单<br />点<br />号<br />码</th>
            <td>555</td>
            <td class="bg-yellow">449</td>
            <td class="bg-yellow">667</td>
            <td class="bg-yellow">776</td>
            <td class="bg-yellow">886</td>
            <td>289</td>
            <td>456</td>
            <td>489</td>
            <td class="bg-yellow">111</td>
            <td>001</td>
            <td>009</td>
            <td>221</td>
            <td>331</td>
            <td>443</td>
            <td>661</td>
            <td class="bg-yellow">012</td>
            <td class="bg-yellow">025</td>
            <td class="bg-yellow">038</td>
            <td class="bg-yellow">058</td>
            <td class="bg-yellow">124</td>
            <td class="bg-yellow">139</td>
            <td class="bg-yellow">168</td>
            <td class="bg-yellow">245</td>
            <td class="bg-yellow">267</td>
            <td class="bg-yellow">346</td>
        </tr>
        <tr>
            <td>777</td>
            <td class="bg-yellow">557</td>
            <td class="bg-yellow">669</td>
            <td class="bg-yellow">883</td>
            <td class="bg-yellow">993</td>
            <td>359</td>
            <td>458</td>
            <td>568</td>
            <td class="bg-yellow">333</td>
            <td>003</td>
            <td>113</td>
            <td>223</td>
            <td>335</td>
            <td>445</td>
            <td>663</td>
            <td class="bg-yellow">014</td>
            <td class="bg-yellow">027</td>
            <td class="bg-yellow">045</td>
            <td class="bg-yellow">067</td>
            <td class="bg-yellow">126</td>
            <td class="bg-yellow">146</td>
            <td class="bg-yellow">179</td>
            <td class="bg-yellow">247</td>
            <td class="bg-yellow">269</td>
            <td class="bg-yellow">348</td>
        </tr>
        <tr>
            <td>999</td>
            <td class="bg-yellow">559</td>
            <td class="bg-yellow">773</td>
            <td class="bg-yellow">885</td>
            <td class="bg-yellow">995</td>
            <td>368</td>
            <td>467</td>
            <td>579</td>
            <td class="bg-yellow"></td>
            <td>005</td>
            <td>115</td>
            <td>225</td>
            <td>337</td>
            <td>447</td>
            <td>771</td>
            <td class="bg-yellow">016</td>
            <td class="bg-yellow">029</td>
            <td class="bg-yellow">047</td>
            <td class="bg-yellow">069</td>
            <td class="bg-yellow">128</td>
            <td class="bg-yellow">148</td>
            <td class="bg-yellow">234</td>
            <td class="bg-yellow">249</td>
            <td class="bg-yellow">278</td>
            <td class="bg-yellow">357</td>
        </tr>
        <tr>
            <td></td>
            <td class="bg-yellow">665</td>
            <td class="bg-yellow">775</td>
            <td class="bg-yellow">887</td>
            <td class="bg-yellow">997</td>
            <td>379</td>
            <td>469</td>
            <td>678</td>
            <td class="bg-yellow"></td>
            <td>007</td>
            <td>117</td>
            <td>227</td>
            <td>339</td>
            <td>551</td>
            <td>881</td>
            <td class="bg-yellow">018</td>
            <td class="bg-yellow">034</td>
            <td class="bg-yellow">049</td>
            <td class="bg-yellow">078</td>
            <td class="bg-yellow">135</td>
            <td class="bg-yellow">157</td>
            <td class="bg-yellow">236</td>
            <td class="bg-yellow">256</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
        </tr>
        <tr>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>478</td>
            <td>689</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>119</td>
            <td>229</td>
            <td>441</td>
            <td>553</td>
            <td>991</td>
            <td class="bg-yellow">023</td>
            <td class="bg-yellow">036</td>
            <td class="bg-yellow">056</td>
            <td class="bg-yellow">089</td>
            <td class="bg-yellow">137</td>
            <td class="bg-yellow">159</td>
            <td class="bg-yellow">238</td>
            <td class="bg-yellow">258</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
        </tr>
        <tr>
            <th>单点注数</th>
            <th>3</th>
            <th colspan="4">16</th>
            <th colspan="3">14</th>
            <th>2</th>
            <th colspan="6">29</th>
            <th colspan="10">46</th>
        </tr>
        <tr>
            <th rowspan="5">双<br />点<br />号<br />码</th>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td>279</td>
            <td>457</td>
            <td>569</td>
            <td class="bg-yellow"></td>
            <td>002</td>
            <td>112</td>
            <td>224</td>
            <td>334</td>
            <td>446</td>
            <td>662</td>
            <td class="bg-yellow">013</td>
            <td class="bg-yellow">026</td>
            <td class="bg-yellow">046</td>
            <td class="bg-yellow">079</td>
            <td class="bg-yellow">134</td>
            <td class="bg-yellow">149</td>
            <td class="bg-yellow">178</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
        </tr>
        <tr>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">664</td>
            <td class="bg-yellow">778</td>
            <td class="bg-yellow">992</td>
            <td>367</td>
            <td>459</td>
            <td>578</td>
            <td class="bg-yellow"></td>
            <td>004</td>
            <td>114</td>
            <td>226</td>
            <td>336</td>
            <td>550</td>
            <td>770</td>
            <td class="bg-yellow">015</td>
            <td class="bg-yellow">028</td>
            <td class="bg-yellow">048</td>
            <td class="bg-yellow">123</td>
            <td class="bg-yellow">136</td>
            <td class="bg-yellow">156</td>
            <td class="bg-yellow">189</td>
            <td class="bg-yellow">246</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
        </tr>
        <tr>
            <td></td>
            <td class="bg-yellow">448</td>
            <td class="bg-yellow">668</td>
            <td class="bg-yellow">882</td>
            <td class="bg-yellow">994</td>
            <td>369</td>
            <td>468</td>
            <td>589</td>
            <td class="bg-yellow">000</td>
            <td>006</td>
            <td>116</td>
            <td>228</td>
            <td>338</td>
            <td>552</td>
            <td>772</td>
            <td class="bg-yellow">017</td>
            <td class="bg-yellow">035</td>
            <td class="bg-yellow">057</td>
            <td class="bg-yellow">125</td>
            <td class="bg-yellow">138</td>
            <td class="bg-yellow">158</td>
            <td class="bg-yellow">235</td>
            <td class="bg-yellow">248</td>
            <td class="bg-yellow">268</td>
            <td class="bg-yellow">349</td>
        </tr>
        <tr>
            <td>666</td>
            <td class="bg-yellow">556</td>
            <td class="bg-yellow">774</td>
            <td class="bg-yellow">884</td>
            <td class="bg-yellow">996</td>
            <td>378</td>
            <td>479</td>
            <td>679</td>
            <td class="bg-yellow">222</td>
            <td>008</td>
            <td>118</td>
            <td>330</td>
            <td>440</td>
            <td>554</td>
            <td>880</td>
            <td class="bg-yellow">019</td>
            <td class="bg-yellow">037</td>
            <td class="bg-yellow">059</td>
            <td class="bg-yellow">127</td>
            <td class="bg-yellow">145</td>
            <td class="bg-yellow">167</td>
            <td class="bg-yellow">237</td>
            <td class="bg-yellow">257</td>
            <td class="bg-yellow">345</td>
            <td class="bg-yellow">356</td>
        </tr>
        <tr>
            <td>888</td>
            <td class="bg-yellow">558</td>
            <td class="bg-yellow">776</td>
            <td class="bg-yellow">886</td>
            <td class="bg-yellow">998</td>
            <td>389</td>
            <td>567</td>
            <td>789</td>
            <td class="bg-yellow">444</td>
            <td>110</td>
            <td>220</td>
            <td>332</td>
            <td>442</td>
            <td>660</td>
            <td>990</td>
            <td class="bg-yellow">024</td>
            <td class="bg-yellow">039</td>
            <td class="bg-yellow">068</td>
            <td class="bg-yellow">129</td>
            <td class="bg-yellow">147</td>
            <td class="bg-yellow">169</td>
            <td class="bg-yellow">239</td>
            <td class="bg-yellow">259</td>
            <td class="bg-yellow">347</td>
            <td class="bg-yellow">358</td>
        </tr>
        <tr>
            <th>双点注数</th>
            <td>2</td>
            <td colspan="4" class="bg-yellow">15</td>
            <td colspan="3">15</td>
            <td class="bg-yellow">3</td>
            <td colspan="6">30</td>
            <td colspan="10" class="bg-yellow">45</td>
        </tr>
        <tr>
            <th>类型注数</th>
            <td>5</td>
            <td colspan="4" class="bg-yellow">31</td>
            <td colspan="3">29</td>
            <td class="bg-yellow">5</td>
            <td colspan="6">59</td>
            <td colspan="10" class="bg-yellow">91</td>
        </tr>
        <tr>
            <th>总注数</th>
            <th colspan="8">65</th>
            <th colspan="17">155</th>
        </tr>
    </tbody>
</table>
