<table class="tbtable">
    <thead>
        <tr>
            <th colspan="5">胆0的组合</th>
            <th width="34px">000</th>
            <th colspan="5">胆1的组合</th>
            <th width="34px">111</th>
            <th colspan="5">胆2的组合</th>
            <th width="34px">222</th>
            <th colspan="5">胆3的组合</th>
            <th width="34px">333</th>
            <th colspan="5">胆4的组合</th>
            <th width="33px">444</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>001</td>
            <td>011</td>
            <td>012</td>
            <td>024</td>
            <td>037</td>
            <td class="bg-yellow">057</td>
            <td>011</td>
            <td>001</td>
            <td>012</td>
            <td>124</td>
            <td>137</td>
            <td class="bg-yellow">157</td>
            <td>022</td>
            <td>002</td>
            <td>012</td>
            <td>124</td>
            <td>237</td>
            <td class="bg-yellow">257</td>
            <td>033</td>
            <td>003</td>
            <td>013</td>
            <td>134</td>
            <td>237</td>
            <td class="bg-yellow">357</td>
            <td>044</td>
            <td>004</td>
            <td>014</td>
            <td>134</td>
            <td>247</td>
            <td class="bg-yellow">457</td>
        </tr>
        <tr>
            <td>002</td>
            <td>022</td>
            <td>013</td>
            <td>025</td>
            <td>038</td>
            <td class="bg-yellow">058</td>
            <td>112</td>
            <td>122</td>
            <td>013</td>
            <td>125</td>
            <td>138</td>
            <td class="bg-yellow">158</td>
            <td>122</td>
            <td>112</td>
            <td>023</td>
            <td>125</td>
            <td>238</td>
            <td class="bg-yellow">258</td>
            <td>133</td>
            <td>113</td>
            <td>023</td>
            <td>135</td>
            <td>238</td>
            <td class="bg-yellow">358</td>
            <td>144</td>
            <td>114</td>
            <td>024</td>
            <td>145</td>
            <td>248</td>
            <td class="bg-yellow">458</td>
        </tr>
        <tr>
            <td>003</td>
            <td>033</td>
            <td>014</td>
            <td>026</td>
            <td>039</td>
            <td class="bg-yellow">059</td>
            <td>113</td>
            <td>133</td>
            <td>014</td>
            <td>126</td>
            <td>139</td>
            <td class="bg-yellow">159</td>
            <td>223</td>
            <td>233</td>
            <td>024</td>
            <td>126</td>
            <td>239</td>
            <td class="bg-yellow">259</td>
            <td>233</td>
            <td>223</td>
            <td>034</td>
            <td>136</td>
            <td>239</td>
            <td class="bg-yellow">359</td>
            <td>244</td>
            <td>224</td>
            <td>034</td>
            <td>146</td>
            <td>249</td>
            <td class="bg-yellow">459</td>
        </tr>
        <tr>
            <td>004</td>
            <td>04</td>
            <td>015</td>
            <td>027</td>
            <td>045</td>
            <td class="bg-yellow">067</td>
            <td>114</td>
            <td>144</td>
            <td>015</td>
            <td>127</td>
            <td>145</td>
            <td class="bg-yellow">167</td>
            <td>224</td>
            <td>442</td>
            <td>025</td>
            <td>127</td>
            <td>245</td>
            <td class="bg-yellow">267</td>
            <td>334</td>
            <td>43</td>
            <td>035</td>
            <td>137</td>
            <td>345</td>
            <td class="bg-yellow">367</td>
            <td>344</td>
            <td>334</td>
            <td>045</td>
            <td>147</td>
            <td>345</td>
            <td class="bg-yellow">467</td>
        </tr>
        <tr>
            <td>005</td>
            <td>055</td>
            <td>016</td>
            <td>028</td>
            <td>046</td>
            <td class="bg-yellow">068</td>
            <td>115</td>
            <td>155</td>
            <td>016</td>
            <td>128</td>
            <td>146</td>
            <td class="bg-yellow">168</td>
            <td>225</td>
            <td>255</td>
            <td>026</td>
            <td>128</td>
            <td>246</td>
            <td class="bg-yellow">268</td>
            <td>335</td>
            <td>355</td>
            <td>036</td>
            <td>138</td>
            <td>346</td>
            <td class="bg-yellow">368</td>
            <td>445</td>
            <td>455</td>
            <td>046</td>
            <td>148</td>
            <td>346</td>
            <td class="bg-yellow">468</td>
        </tr>
        <tr>
            <td>006</td>
            <td>066</td>
            <td>017</td>
            <td>029</td>
            <td>047</td>
            <td class="bg-yellow">069</td>
            <td>116</td>
            <td>166</td>
            <td>017</td>
            <td>129</td>
            <td>147</td>
            <td class="bg-yellow">169</td>
            <td>226</td>
            <td>266</td>
            <td>027</td>
            <td>129</td>
            <td>247</td>
            <td class="bg-yellow">269</td>
            <td>336</td>
            <td>366</td>
            <td>037</td>
            <td>139</td>
            <td>347</td>
            <td class="bg-yellow">369</td>
            <td>446</td>
            <td>466</td>
            <td>047</td>
            <td>149</td>
            <td>347</td>
            <td class="bg-yellow">469</td>
        </tr>
        <tr>
            <td>007</td>
            <td>077</td>
            <td>018</td>
            <td>034</td>
            <td>048</td>
            <td class="bg-yellow">078</td>
            <td>117</td>
            <td>177</td>
            <td>018</td>
            <td>134</td>
            <td>148</td>
            <td class="bg-yellow">178</td>
            <td>227</td>
            <td>277</td>
            <td>028</td>
            <td>234</td>
            <td>248</td>
            <td class="bg-yellow">278</td>
            <td>337</td>
            <td>377</td>
            <td>038</td>
            <td>234</td>
            <td>348</td>
            <td class="bg-yellow">378</td>
            <td>447</td>
            <td>477</td>
            <td>048</td>
            <td>234</td>
            <td>348</td>
            <td class="bg-yellow">478</td>
        </tr>
        <tr>
            <td>008</td>
            <td>088</td>
            <td>019</td>
            <td>035</td>
            <td>049</td>
            <td class="bg-yellow">079</td>
            <td>118</td>
            <td>188</td>
            <td>019</td>
            <td>135</td>
            <td>149</td>
            <td class="bg-yellow">179</td>
            <td>228</td>
            <td>288</td>
            <td>029</td>
            <td>235</td>
            <td>249</td>
            <td class="bg-yellow">279</td>
            <td>338</td>
            <td>388</td>
            <td>039</td>
            <td>235</td>
            <td>349</td>
            <td class="bg-yellow">379</td>
            <td>448</td>
            <td>488</td>
            <td>049</td>
            <td>245</td>
            <td>349</td>
            <td class="bg-yellow">479</td>
        </tr>
        <tr>
            <td>009</td>
            <td>099</td>
            <td>023</td>
            <td>036</td>
            <td>056</td>
            <td class="bg-yellow">089</td>
            <td>119</td>
            <td>199</td>
            <td>123</td>
            <td>136</td>
            <td>156</td>
            <td class="bg-yellow">189</td>
            <td>229</td>
            <td>299</td>
            <td>123</td>
            <td>236</td>
            <td>256</td>
            <td class="bg-yellow">289</td>
            <td>339</td>
            <td>399</td>
            <td>123</td>
            <td>236</td>
            <td>356</td>
            <td class="bg-yellow">389</td>
            <td>449</td>
            <td>499</td>
            <td>124</td>
            <td>246</td>
            <td>456</td>
            <td class="bg-yellow">489</td>
        </tr>
        <tr>
            <th colspan="5">胆5的组合</th>
            <th>555</th>
            <th colspan="5">胆6的组合</th>
            <th>666</th>
            <th colspan="5">胆7的组合</th>
            <th>777</th>
            <th colspan="5">胆8的组合</th>
            <th>888</th>
            <th colspan="5">胆9的组合</th>
            <th>999</th>
        </tr>
        <tr>
            <td>055</td>
            <td>005</td>
            <td>015</td>
            <td>135</td>
            <td>257</td>
            <td class="bg-yellow">457</td>
            <td>066</td>
            <td>006</td>
            <td>016</td>
            <td>136</td>
            <td>267</td>
            <td class="bg-yellow">467</td>
            <td>077</td>
            <td>007</td>
            <td>017</td>
            <td>137</td>
            <td>267</td>
            <td class="bg-yellow">467</td>
            <td>088</td>
            <td>008</td>
            <td>018</td>
            <td>138</td>
            <td>268</td>
            <td class="bg-yellow">468</td>
            <td>009</td>
            <td>099</td>
            <td>019</td>
            <td>139</td>
            <td>269</td>
            <td class="bg-yellow">469</td>
        </tr>
        <tr>
            <td>155</td>
            <td>115</td>
            <td>025</td>
            <td>145</td>
            <td>258</td>
            <td class="bg-yellow">458</td>
            <td>166</td>
            <td>116</td>
            <td>026</td>
            <td>146</td>
            <td>268</td>
            <td class="bg-yellow">468</td>
            <td>177</td>
            <td>117</td>
            <td>027</td>
            <td>147</td>
            <td>178</td>
            <td class="bg-yellow">478</td>
            <td>188</td>
            <td>118</td>
            <td>028</td>
            <td>148</td>
            <td>178</td>
            <td class="bg-yellow">478</td>
            <td>119</td>
            <td>199</td>
            <td>029</td>
            <td>149</td>
            <td>279</td>
            <td class="bg-yellow">479</td>
        </tr>
        <tr>
            <td>255</td>
            <td>225</td>
            <td>035</td>
            <td>156</td>
            <td>259</td>
            <td class="bg-yellow">459</td>
            <td>266</td>
            <td>226</td>
            <td>036</td>
            <td>156</td>
            <td>269</td>
            <td class="bg-yellow">469</td>
            <td>277</td>
            <td>227</td>
            <td>037</td>
            <td>157</td>
            <td>279</td>
            <td class="bg-yellow">479</td>
            <td>288</td>
            <td>228</td>
            <td>038</td>
            <td>158</td>
            <td>259</td>
            <td class="bg-yellow">489</td>
            <td>229</td>
            <td>299</td>
            <td>039</td>
            <td>159</td>
            <td>289</td>
            <td>489</td>
        </tr>
        <tr>
            <td>355</td>
            <td>335</td>
            <td>045</td>
            <td>157</td>
            <td>345</td>
            <td class="bg-yellow">456</td>
            <td>366</td>
            <td>336</td>
            <td>046</td>
            <td>167</td>
            <td>346</td>
            <td class="bg-yellow">567</td>
            <td>377</td>
            <td>337</td>
            <td>047</td>
            <td>167</td>
            <td>347</td>
            <td class="bg-yellow">567</td>
            <td>388</td>
            <td>338</td>
            <td>048</td>
            <td>168</td>
            <td>348</td>
            <td class="bg-yellow">568</td>
            <td>339</td>
            <td>399</td>
            <td>049</td>
            <td>169</td>
            <td>349</td>
            <td>569</td>
        </tr>
        <tr>
            <td>455</td>
            <td>445</td>
            <td>056</td>
            <td>158</td>
            <td>356</td>
            <td class="bg-yellow">568</td>
            <td>466</td>
            <td>446</td>
            <td>056</td>
            <td>168</td>
            <td>356</td>
            <td class="bg-yellow">568</td>
            <td>477</td>
            <td>447</td>
            <td>057</td>
            <td>178</td>
            <td>357</td>
            <td class="bg-yellow">578</td>
            <td>488</td>
            <td>448</td>
            <td>058</td>
            <td>178</td>
            <td>358</td>
            <td class="bg-yellow">578</td>
            <td>449</td>
            <td>499</td>
            <td>059</td>
            <td>179</td>
            <td>359</td>
            <td>579</td>
        </tr>
        <tr>
            <td>556</td>
            <td>566</td>
            <td>057</td>
            <td>159</td>
            <td>357</td>
            <td class="bg-yellow">569</td>
            <td>566</td>
            <td>556</td>
            <td>067</td>
            <td>169</td>
            <td>367</td>
            <td class="bg-yellow">569</td>
            <td>577</td>
            <td>557</td>
            <td>067</td>
            <td>179</td>
            <td>367</td>
            <td class="bg-yellow">579</td>
            <td>588</td>
            <td>558</td>
            <td>068</td>
            <td>189</td>
            <td>368</td>
            <td class="bg-yellow">589</td>
            <td>559</td>
            <td>599</td>
            <td>069</td>
            <td>189</td>
            <td>369</td>
            <td>589</td>
        </tr>
        <tr>
            <td>557</td>
            <td>577</td>
            <td>058</td>
            <td>235</td>
            <td>358</td>
            <td class="bg-yellow">578</td>
            <td>667</td>
            <td>677</td>
            <td>068</td>
            <td>236</td>
            <td>368</td>
            <td class="bg-yellow">678</td>
            <td>677</td>
            <td>667</td>
            <td>078</td>
            <td>237</td>
            <td>378</td>
            <td class="bg-yellow">678</td>
            <td>688</td>
            <td>668</td>
            <td>078</td>
            <td>238</td>
            <td>378</td>
            <td class="bg-yellow">678</td>
            <td>669</td>
            <td>699</td>
            <td>079</td>
            <td>239</td>
            <td>379</td>
            <td>679</td>
        </tr>
        <tr>
            <td>558</td>
            <td>588</td>
            <td>059</td>
            <td>245</td>
            <td>359</td>
            <td class="bg-yellow">579</td>
            <td>668</td>
            <td>688</td>
            <td>069</td>
            <td>246</td>
            <td>369</td>
            <td class="bg-yellow">679</td>
            <td>778</td>
            <td>788</td>
            <td>079</td>
            <td>247</td>
            <td>379</td>
            <td class="bg-yellow">679</td>
            <td>788</td>
            <td>778</td>
            <td>089</td>
            <td>248</td>
            <td>389</td>
            <td class="bg-yellow">689</td>
            <td>779</td>
            <td>799</td>
            <td>089</td>
            <td>249</td>
            <td>389</td>
            <td>689</td>
        </tr>
        <tr>
            <td>559</td>
            <td>599</td>
            <td>125</td>
            <td>256</td>
            <td>456</td>
            <td class="bg-yellow">589</td>
            <td>669</td>
            <td>699</td>
            <td>126</td>
            <td>256</td>
            <td>456</td>
            <td class="bg-yellow">689</td>
            <td>779</td>
            <td>799</td>
            <td>127</td>
            <td>257</td>
            <td>457</td>
            <td class="bg-yellow">789</td>
            <td>889</td>
            <td>899</td>
            <td>128</td>
            <td>258</td>
            <td>458</td>
            <td class="bg-yellow">789</td>
            <td>889</td>
            <td>899</td>
            <td>129</td>
            <td>259</td>
            <td>459</td>
            <td>789</td>
        </tr>
    </tbody>
</table>
