<table class="tbtable">
    <thead>
        <tr>
            <th rowspan="2"></th>
            <th colspan="9">含连号</th>
            <th colspan="13">不含连号</th>
        </tr>
        <tr>
            <th colspan="2">组选3</th>
            <th colspan="7">组选6</th>
            <th>直选</th>
            <th colspan="7">组选3</th>
            <th colspan="5">组选6</th>
        </tr>
    </thead>
    <tr>
        <th rowspan="5">单<br />点<br />号<br />码</th>
        <td class="bg-yellow">001</td>
        <td class="bg-yellow">445</td>
        <td>012</td>
        <td>029</td>
        <td>067</td>
        <td>126</td>
        <td>245</td>
        <td>346</td>
        <td>478</td>
        <td class="bg-yellow">111</td>
        <td>003</td>
        <td>117</td>
        <td>331</td>
        <td>447</td>
        <td>559</td>
        <td>773</td>
        <td>885</td>
        <td class="bg-yellow">025</td>
        <td class="bg-yellow">058</td>
        <td class="bg-yellow">148</td>
        <td class="bg-yellow">247</td>
        <td class="bg-yellow">359</td>
    </tr>
    <tr>
        <td class="bg-yellow">009</td>
        <td class="bg-yellow">665</td>
        <td>014</td>
        <td>034</td>
        <td>069</td>
        <td>128</td>
        <td>256</td>
        <td>348</td>
        <td>489</td>
        <td class="bg-yellow">333</td>
        <td>005</td>
        <td>119</td>
        <td>335</td>
        <td>49</td>
        <td>661</td>
        <td>775</td>
        <td>991</td>
        <td class="bg-yellow">027</td>
        <td class="bg-yellow">135</td>
        <td class="bg-yellow">157</td>
        <td class="bg-yellow">249</td>
        <td class="bg-yellow">368</td>
    </tr>
    <tr>
        <td class="bg-yellow">221</td>
        <td class="bg-yellow">667</td>
        <td>016</td>
        <td>045</td>
        <td>078</td>
        <td>234</td>
        <td>267</td>
        <td>456</td>
        <td>568</td>
        <td class="bg-yellow">555</td>
        <td>007</td>
        <td>225</td>
        <td>337</td>
        <td>551</td>
        <td>663</td>
        <td>779</td>
        <td>993</td>
        <td class="bg-yellow">036</td>
        <td class="bg-yellow">137</td>
        <td class="bg-yellow">159</td>
        <td class="bg-yellow">258</td>
        <td class="bg-yellow">379</td>
    </tr>
    <tr>
        <td class="bg-yellow">223</td>
        <td class="bg-yellow">887</td>
        <td>018</td>
        <td>049</td>
        <td>089</td>
        <td>236</td>
        <td>278</td>
        <td>458</td>
        <td>678</td>
        <td class="bg-yellow">777</td>
        <td>113</td>
        <td>227</td>
        <td>339</td>
        <td>553</td>
        <td>669</td>
        <td>881</td>
        <td>995</td>
        <td class="bg-yellow">038</td>
        <td class="bg-yellow">139</td>
        <td class="bg-yellow">168</td>
        <td class="bg-yellow">269</td>
        <td class="bg-yellow">469</td>
    </tr>
    <tr>
        <td class="bg-yellow">443</td>
        <td class="bg-yellow">889</td>
        <td>023</td>
        <td>056</td>
        <td>124</td>
        <td>238</td>
        <td>289</td>
        <td>467</td>
        <td>689</td>
        <td class="bg-yellow">999</td>
        <td>115</td>
        <td>229</td>
        <td>441</td>
        <td>557</td>
        <td>771</td>
        <td>883</td>
        <td>997</td>
        <td class="bg-yellow">047</td>
        <td class="bg-yellow">146</td>
        <td class="bg-yellow">179</td>
        <td class="bg-yellow">357</td>
        <td class="bg-yellow">579</td>
    </tr>
    <tr>
        <th>单点注数</th>
        <td colspan="2" class="bg-yellow">10</td>
        <td colspan="7">35</td>
        <td class="bg-yellow">5</td>
        <td colspan="7">35</td>
        <td colspan="5" class="bg-yellow">25</td>
    </tr>
    <tr>
        <th rowspan="5">双<br />点<br />号<br />码</th>
        <td class="bg-yellow">110</td>
        <td class="bg-yellow">556</td>
        <td>013</td>
        <td>059</td>
        <td>129</td>
        <td>178</td>
        <td>345</td>
        <td>378</td>
        <td>569</td>
        <td class="bg-yellow">000</td>
        <td>002</td>
        <td>116</td>
        <td>228</td>
        <td>442</td>
        <td>558</td>
        <td>770</td>
        <td>884</td>
        <td class="bg-yellow">024</td>
        <td class="bg-yellow">046</td>
        <td class="bg-yellow">138</td>
        <td class="bg-yellow">246</td>
        <td class="bg-yellow">279</td>
    </tr>
    <tr>
        <td class="bg-yellow">112</td>
        <td class="bg-yellow">776</td>
        <td>015</td>
        <td>079</td>
        <td>134</td>
        <td>189</td>
        <td>347</td>
        <td>389</td>
        <td>578</td>
        <td class="bg-yellow">222</td>
        <td>004</td>
        <td>118</td>
        <td>330</td>
        <td>446</td>
        <td>660</td>
        <td>772</td>
        <td>886</td>
        <td class="bg-yellow">026</td>
        <td class="bg-yellow">048</td>
        <td class="bg-yellow">147</td>
        <td class="bg-yellow">248</td>
        <td class="bg-yellow">358</td>
    </tr>
    <tr>
        <td class="bg-yellow">332</td>
        <td class="bg-yellow">778</td>
        <td>017</td>
        <td>123</td>
        <td>145</td>
        <td>235</td>
        <td>349</td>
        <td>457</td>
        <td>589</td>
        <td class="bg-yellow">444</td>
        <td>006</td>
        <td>220</td>
        <td>336</td>
        <td>448</td>
        <td>662</td>
        <td>774</td>
        <td>992</td>
        <td class="bg-yellow">028</td>
        <td class="bg-yellow">057</td>
        <td class="bg-yellow">149</td>
        <td class="bg-yellow">257</td>
        <td class="bg-yellow">369</td>
    </tr>
    <tr>
        <td class="bg-yellow">334</td>
        <td class="bg-yellow">990</td>
        <td>019</td>
        <td>125</td>
        <td>156</td>
        <td>237</td>
        <td>356</td>
        <td>459</td>
        <td>679</td>
        <td class="bg-yellow">666</td>
        <td>008</td>
        <td>224</td>
        <td>338</td>
        <td>550</td>
        <td>664</td>
        <td>880</td>
        <td>994</td>
        <td class="bg-yellow">035</td>
        <td class="bg-yellow">068</td>
        <td class="bg-yellow">158</td>
        <td class="bg-yellow">259</td>
        <td class="bg-yellow">468</td>
    </tr>
    <tr>
        <td class="bg-yellow">554</td>
        <td class="bg-yellow">998</td>
        <td>039</td>
        <td>127</td>
        <td>167</td>
        <td>239</td>
        <td>367</td>
        <td>567</td>
        <td>789</td>
        <td class="bg-yellow">88</td>
        <td>114</td>
        <td>226</td>
        <td>440</td>
        <td>552</td>
        <td>668</td>
        <td>882</td>
        <td>996</td>
        <td class="bg-yellow">037</td>
        <td class="bg-yellow">136</td>
        <td class="bg-yellow">169</td>
        <td class="bg-yellow">268</td>
        <td class="bg-yellow">479</td>
    </tr>
    <tr>
        <th>双点注数</th>
        <td colspan="2" class="bg-yellow">10</td>
        <td colspan="7">35</td>
        <td class="bg-yellow">5</td>
        <td colspan="7">35</td>
        <td colspan="5" class="bg-yellow">25</td>
    </tr>
    <tr>
        <th>类型注数</th>
        <td colspan="2" class="bg-yellow">20</td>
        <td colspan="7">70</td>
        <td class="bg-yellow">10</td>
        <td colspan="7">70</td>
        <td colspan="5" class="bg-yellow">50</td>
    </tr>
    <tr>
        <th>总注数</th>
        <th colspan="9">90</th>
        <th colspan="13">130</th>
    </tr>
</table>
