<table class="tbtable">
    <thead>
        <tr>
            <th>和数值</th>
            <th>0</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>24</th>
            <th>25</th>
            <th>26</th>
            <th>27</th>
        </tr>
    </thead>
    <tr>
        <th>直选</th>
        <td>000</td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow">111</td>
        <td></td>
        <td class="bg-yellow"></td>
        <td>222</td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow">333</td>
        <td></td>
        <td class="bg-yellow"></td>
        <td>444</td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow">555</td>
        <td></td>
        <td class="bg-yellow"></td>
        <td>666</td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow">777</td>
        <td></td>
        <td class="bg-yellow"></td>
        <td>888</td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow">999</td>
    </tr>
    <tr>
        <th rowspan="5">组选3</th>
        <td></td>
        <td class="bg-yellow">001</td>
        <td>002</td>
        <td class="bg-yellow">003</td>
        <td>004</td>
        <td class="bg-yellow">005</td>
        <td>006</td>
        <td class="bg-yellow">007</td>
        <td>008</td>
        <td class="bg-yellow">009</td>
        <td>118</td>
        <td class="bg-yellow">119</td>
        <td>228</td>
        <td class="bg-yellow">229</td>
        <td>338</td>
        <td class="bg-yellow">339</td>
        <td>448</td>
        <td class="bg-yellow">449</td>
        <td>558</td>
        <td class="bg-yellow">559</td>
        <td>668</td>
        <td class="bg-yellow">669</td>
        <td>778</td>
        <td class="bg-yellow">779</td>
        <td>996</td>
        <td class="bg-yellow">889</td>
        <td>998</td>
        <td class="bg-yellow"></td>
    </tr>
    <tr>
        <td></td>
        <td class="bg-yellow"></td>
        <td>110</td>
        <td class="bg-yellow"></td>
        <td>112</td>
        <td class="bg-yellow">113</td>
        <td>114</td>
        <td class="bg-yellow">115</td>
        <td>116</td>
        <td class="bg-yellow">117</td>
        <td>226</td>
        <td class="bg-yellow">227</td>
        <td>336</td>
        <td class="bg-yellow">337</td>
        <td>446</td>
        <td class="bg-yellow">447</td>
        <td>556</td>
        <td class="bg-yellow">557</td>
        <td>774</td>
        <td class="bg-yellow">667</td>
        <td>776</td>
        <td class="bg-yellow">885</td>
        <td>886</td>
        <td class="bg-yellow">887</td>
        <td></td>
        <td class="bg-yellow">997</td>
        <td></td>
        <td class="bg-yellow"></td>
    </tr>
    <tr>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td>220</td>
        <td class="bg-yellow">221</td>
        <td>330</td>
        <td class="bg-yellow">223</td>
        <td>224</td>
        <td class="bg-yellow">225</td>
        <td>334</td>
        <td class="bg-yellow">335</td>
        <td>552</td>
        <td class="bg-yellow">445</td>
        <td>554</td>
        <td class="bg-yellow">663</td>
        <td>664</td>
        <td class="bg-yellow">665</td>
        <td>882</td>
        <td class="bg-yellow">775</td>
        <td>884</td>
        <td class="bg-yellow">993</td>
        <td>994</td>
        <td class="bg-yellow">995</td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
    </tr>
    <tr>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow">331</td>
        <td>332</td>
        <td class="bg-yellow">441</td>
        <td>442</td>
        <td class="bg-yellow">443</td>
        <td>660</td>
        <td class="bg-yellow">553</td>
        <td>662</td>
        <td class="bg-yellow">771</td>
        <td>772</td>
        <td class="bg-yellow">773</td>
        <td>990</td>
        <td class="bg-yellow">883</td>
        <td>992</td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
    </tr>
    <tr>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td>440</td>
        <td class="bg-yellow"></td>
        <td>550</td>
        <td class="bg-yellow">551</td>
        <td></td>
        <td class="bg-yellow">661</td>
        <td>770</td>
        <td class="bg-yellow"></td>
        <td>880</td>
        <td class="bg-yellow">881</td>
        <td></td>
        <td class="bg-yellow">991</td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
    </tr>
    <tr>
        <th rowspan="10">组选6</th>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow">012</td>
        <td>013</td>
        <td class="bg-yellow">014</td>
        <td>015</td>
        <td class="bg-yellow">016</td>
        <td>017</td>
        <td class="bg-yellow">018</td>
        <td>019</td>
        <td class="bg-yellow">029</td>
        <td>039</td>
        <td class="bg-yellow">049</td>
        <td>059</td>
        <td class="bg-yellow">069</td>
        <td>079</td>
        <td class="bg-yellow">089</td>
        <td>189</td>
        <td class="bg-yellow">289</td>
        <td>389</td>
        <td class="bg-yellow">489</td>
        <td>589</td>
        <td class="bg-yellow">689</td>
        <td>789</td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
    </tr>
    <tr>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow">023</td>
        <td>024</td>
        <td class="bg-yellow">025</td>
        <td>026</td>
        <td class="bg-yellow">027</td>
        <td>028</td>
        <td class="bg-yellow">038</td>
        <td>048</td>
        <td class="bg-yellow">058</td>
        <td>068</td>
        <td class="bg-yellow">078</td>
        <td>169</td>
        <td class="bg-yellow">179</td>
        <td>279</td>
        <td class="bg-yellow">379</td>
        <td>479</td>
        <td class="bg-yellow">579</td>
        <td>679</td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
    </tr>
    <tr>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td>123</td>
        <td class="bg-yellow">034</td>
        <td>035</td>
        <td class="bg-yellow">036</td>
        <td>037</td>
        <td class="bg-yellow">047</td>
        <td>057</td>
        <td class="bg-yellow">067</td>
        <td>149</td>
        <td class="bg-yellow">159</td>
        <td>178</td>
        <td class="bg-yellow">269</td>
        <td>369</td>
        <td class="bg-yellow">469</td>
        <td>569</td>
        <td class="bg-yellow">678</td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
    </tr>
    <tr>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow">124</td>
        <td>125</td>
        <td class="bg-yellow">045</td>
        <td>046</td>
        <td class="bg-yellow">056</td>
        <td>129</td>
        <td class="bg-yellow">139</td>
        <td>158</td>
        <td class="bg-yellow">168</td>
        <td>259</td>
        <td class="bg-yellow">278</td>
        <td>378</td>
        <td class="bg-yellow">478</td>
        <td>578</td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
    </tr>
    <tr>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td>134</td>
        <td class="bg-yellow">126</td>
        <td>127</td>
        <td class="bg-yellow">128</td>
        <td>138</td>
        <td class="bg-yellow">148</td>
        <td>167</td>
        <td class="bg-yellow">249</td>
        <td>268</td>
        <td class="bg-yellow">359</td>
        <td>459</td>
        <td class="bg-yellow">568</td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
    </tr>
    <tr>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow">135</td>
        <td>136</td>
        <td class="bg-yellow">137</td>
        <td>147</td>
        <td class="bg-yellow">157</td>
        <td>239</td>
        <td class="bg-yellow">258</td>
        <td>349</td>
        <td class="bg-yellow">368</td>
        <td>468</td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
    </tr>
    <tr>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow">234</td>
        <td>145</td>
        <td class="bg-yellow">146</td>
        <td>156</td>
        <td class="bg-yellow">238</td>
        <td>248</td>
        <td class="bg-yellow">267</td>
        <td>358</td>
        <td class="bg-yellow">458</td>
        <td>567</td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
    </tr>
    <tr>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td>235</td>
        <td class="bg-yellow">236</td>
        <td>237</td>
        <td class="bg-yellow">247</td>
        <td>257</td>
        <td class="bg-yellow">348</td>
        <td>367</td>
        <td class="bg-yellow">467</td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
    </tr>
    <tr>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow">245</td>
        <td>246</td>
        <td class="bg-yellow">256</td>
        <td>347</td>
        <td class="bg-yellow">357</td>
        <td>457</td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
    </tr>
    <tr>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td>345</td>
        <td class="bg-yellow">346</td>
        <td>356</td>
        <td class="bg-yellow">456</td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td class="bg-yellow"></td>
    </tr>
    <tr>
        <th>组选注数</td>
        <td>1</td>
        <td class="bg-yellow">1</td>
        <td>2</td>
        <td class="bg-yellow">3</td>
        <td>4</td>
        <td class="bg-yellow">5</td>
        <td>7</td>
        <td class="bg-yellow">8</td>
        <td>10</td>
        <td class="bg-yellow">12</td>
        <td>13</td>
        <td class="bg-yellow">14</td>
        <td>15</td>
        <td class="bg-yellow">15</td>
        <td>15</td>
        <td class="bg-yellow">15</td>
        <td>14</td>
        <td class="bg-yellow">13</td>
        <td>12</td>
        <td class="bg-yellow">10</td>
        <td>8</td>
        <td class="bg-yellow">7</td>
        <td>5</td>
        <td class="bg-yellow">4</td>
        <td>3</td>
        <td class="bg-yellow">2</td>
        <td>1</td>
        <td class="bg-yellow">1</td>
    </tr>
    <tr>
        <th>单选注数</td>
        <td>1</td>
        <td class="bg-yellow">3</td>
        <td>6</td>
        <td class="bg-yellow">10</td>
        <td>15</td>
        <td class="bg-yellow">21</td>
        <td>28</td>
        <td class="bg-yellow">36</td>
        <td>45</td>
        <td class="bg-yellow">55</td>
        <td>63</td>
        <td class="bg-yellow">69</td>
        <td>73</td>
        <td class="bg-yellow">75</td>
        <td>75</td>
        <td class="bg-yellow">73</td>
        <td>69</td>
        <td class="bg-yellow">63</td>
        <td>55</td>
        <td class="bg-yellow">45</td>
        <td>36</td>
        <td class="bg-yellow">28</td>
        <td>21</td>
        <td class="bg-yellow">15</td>
        <td>10</td>
        <td class="bg-yellow">6</td>
        <td>3</td>
        <td class="bg-yellow">1</td>
    </tr>
    <tr>
        <th>占有比率</td>
        <td>0.1%</td>
        <td class="bg-yellow">0.3%</td>
        <td>0.6%</td>
        <td class="bg-yellow">1.0%</td>
        <td>1.5%</td>
        <td class="bg-yellow">2.1%</td>
        <td>2.8%</td>
        <td class="bg-yellow">3.6%</td>
        <td>4.5%</td>
        <td class="bg-yellow">5.5%</td>
        <td>6.3%</td>
        <td class="bg-yellow">6.9%</td>
        <td>7.3%</td>
        <td class="bg-yellow">7.5%</td>
        <td>7.5%</td>
        <td class="bg-yellow">7.3%</td>
        <td>6.9%</td>
        <td class="bg-yellow">6.3%</td>
        <td>5.5%</td>
        <td class="bg-yellow">4.5%</td>
        <td>3.6%</td>
        <td class="bg-yellow">2.8%</td>
        <td>2.1%</td>
        <td class="bg-yellow">1.5%</td>
        <td>1.0%</td>
        <td class="bg-yellow">0.6%</td>
        <td>0.3%</td>
        <td class="bg-yellow">0.1%</td>
    </tr>
</table>
