<table class="tbtable">
    <thead>
        <tr>
            <th rowspan="2" class="thead" width="76px">类型</th>
            <th colspan="8" class="thead">不含质数的号码</th>
            <th colspan="19" class="thead">含质数的号码</th>
        </tr>
        <tr>
            <th class="thead">直选</th>
            <th colspan="4" class="thead">组选3</th>
            <th colspan="3" class="thead">组选6</th>
            <th class="thead">直选</th>
            <th colspan="7" class="thead">组选3</th>
            <th colspan="11" class="thead">组选6</th>
        </tr>
    </thead>
    <tr>
        <th rowspan="5" class="thead">单<br />点<br />号<br />码</th>
        <td width="35px">111</td>
        <td width="33px" class="bg-yellow">001</td>
        <td width="33px" class="bg-yellow">119</td>
        <td width="33px" class="bg-yellow">661</td>
        <td width="33px" class="bg-yellow">889</td>
        <td width="33px">014</td>
        <td width="33px">069</td>
        <td width="33px">168</td>
        <td width="35px" class="bg-yellow">333</td>
        <td width="33px">003</td>
        <td width="33px">117</td>
        <td width="33px">229</td>
        <td width="33px">443</td>
        <td width="33px">557</td>
        <td width="33px">771</td>
        <td width="33px">885</td>
        <td width="33px" class="bg-yellow">012</td>
        <td width="33px" class="bg-yellow">034</td>
        <td width="33px" class="bg-yellow">056</td>
        <td width="33px" class="bg-yellow">126</td>
        <td width="33px" class="bg-yellow">157</td>
        <td width="33px" class="bg-yellow">238</td>
        <td width="33px" class="bg-yellow">258</td>
        <td width="33px" class="bg-yellow">346</td>
        <td width="33px" class="bg-yellow">368</td>
        <td width="33px" class="bg-yellow">458</td>
        <td width="33px" class="bg-yellow">568</td>
    </tr>
    <tr>
        <td>999</td>
        <td class="bg-yellow">009</td>
        <td class="bg-yellow">441</td>
        <td class="bg-yellow">669</td>
        <td class="bg-yellow">991</td>
        <td>016</td>
        <td>089</td>
        <td>469</td>
        <td class="bg-yellow">555</td>
        <td>005</td>
        <td>221</td>
        <td>331</td>
        <td>445</td>
        <td>559</td>
        <td>773</td>
        <td>887</td>
        <td class="bg-yellow">023</td>
        <td class="bg-yellow">036</td>
        <td class="bg-yellow">058</td>
        <td class="bg-yellow">128</td>
        <td class="bg-yellow">159</td>
        <td class="bg-yellow">245</td>
        <td class="bg-yellow">267</td>
        <td class="bg-yellow">348</td>
        <td class="bg-yellow">379</td>
        <td class="bg-yellow">467</td>
        <td class="bg-yellow">579</td>
    </tr>
    <tr>
        <td></td>
        <td class="bg-yellow"></td>
        <td class="bg-yellow">449</td>
        <td class="bg-yellow">881</td>
        <td class="bg-yellow"></td>
        <td>018</td>
        <td>146</td>
        <td>489</td>
        <td class="bg-yellow">777</td>
        <td>007</td>
        <td>223</td>
        <td>335</td>
        <td>447</td>
        <td>663</td>
        <td>778</td>
        <td>993</td>
        <td class="bg-yellow">025</td>
        <td class="bg-yellow">038</td>
        <td class="bg-yellow">067</td>
        <td class="bg-yellow">135</td>
        <td class="bg-yellow">179</td>
        <td class="bg-yellow">247</td>
        <td class="bg-yellow">269</td>
        <td class="bg-yellow">357</td>
        <td class="bg-yellow">456</td>
        <td class="bg-yellow">478</td>
        <td class="bg-yellow">678</td>
    </tr>
    <tr>
        <td></td>
        <td class="bg-yellow"></td>
        <td class="bg-yellow"></td>
        <td class="bg-yellow"></td>
        <td class="bg-yellow"></td>
        <td>049</td>
        <td>148</td>
        <td>689</td>
        <td class="bg-yellow"></td>
        <td>113</td>
        <td>225</td>
        <td>337</td>
        <td>551</td>
        <td>665</td>
        <td>779</td>
        <td>995</td>
        <td class="bg-yellow">027</td>
        <td class="bg-yellow">045</td>
        <td class="bg-yellow">078</td>
        <td class="bg-yellow">137</td>
        <td class="bg-yellow">234</td>
        <td class="bg-yellow">249</td>
        <td class="bg-yellow">278</td>
        <td class="bg-yellow">359</td>
        <td class="bg-yellow"></td>
        <td class="bg-yellow"></td>
        <td class="bg-yellow"></td>
    </tr>
    <tr>
        <td></td>
        <td class="bg-yellow"></td>
        <td class="bg-yellow"></td>
        <td class="bg-yellow"></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td>115</td>
        <td>227</td>
        <td>339</td>
        <td>553</td>
        <td>667</td>
        <td>883</td>
        <td>997</td>
        <td class="bg-yellow">029</td>
        <td class="bg-yellow">047</td>
        <td class="bg-yellow">124</td>
        <td class="bg-yellow">139</td>
        <td class="bg-yellow">236</td>
        <td class="bg-yellow">256</td>
        <td class="bg-yellow">289</td>
        <td class="bg-yellow"></td>
        <td class="bg-yellow"></td>
        <td class="bg-yellow"></td>
        <td class="bg-yellow"></td>
    </tr>
    <tr>
        <th class="thead">单点注数</th>
        <td>2</td>
        <td colspan="4" class="bg-yellow">10</td>
        <td colspan="3">15</td>
        <td class="bg-yellow">3</td>
        <td colspan="7">35</td>
        <td colspan="11" class="bg-yellow">48</td>
    </tr>
    <tr>
        <th rowspan="5" class="thead">双<br />点<br />号<br />码</th>
        <td></td>
        <td class="bg-yellow">004</td>
        <td class="bg-yellow">116</td>
        <td class="bg-yellow">660</td>
        <td class="bg-yellow">886</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="bg-yellow">013</td>
        <td class="bg-yellow">028</td>
        <td class="bg-yellow">059</td>
        <td class="bg-yellow">129</td>
        <td class="bg-yellow">147</td>
        <td class="bg-yellow">235</td>
        <td class="bg-yellow">257</td>
        <td class="bg-yellow">347</td>
        <td class="bg-yellow">369</td>
        <td class="bg-yellow"></td>
        <td class="bg-yellow"></td>
    </tr>
    <tr>
        <td>000</td>
        <td class="bg-yellow">006</td>
        <td class="bg-yellow">118</td>
        <td class="bg-yellow">664</td>
        <td class="bg-yellow">990</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td>002</td>
        <td>226</td>
        <td>334</td>
        <td>550</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="bg-yellow">015</td>
        <td class="bg-yellow">035</td>
        <td class="bg-yellow">079</td>
        <td class="bg-yellow">134</td>
        <td class="bg-yellow">156</td>
        <td class="bg-yellow">237</td>
        <td class="bg-yellow">259</td>
        <td class="bg-yellow">349</td>
        <td class="bg-yellow">378</td>
        <td class="bg-yellow">479</td>
        <td class="bg-yellow"></td>
    </tr>
    <tr>
        <td>444</td>
        <td class="bg-yellow">008</td>
        <td class="bg-yellow">440</td>
        <td class="bg-yellow">668</td>
        <td class="bg-yellow">993</td>
        <td>019</td>
        <td>068</td>
        <td></td>
        <td class="bg-yellow"></td>
        <td>112</td>
        <td>228</td>
        <td>336</td>
        <td>552</td>
        <td>558</td>
        <td>772</td>
        <td>778</td>
        <td class="bg-yellow">017</td>
        <td class="bg-yellow">037</td>
        <td class="bg-yellow">123</td>
        <td class="bg-yellow">136</td>
        <td class="bg-yellow">158</td>
        <td class="bg-yellow">239</td>
        <td class="bg-yellow">268</td>
        <td class="bg-yellow">356</td>
        <td class="bg-yellow">389</td>
        <td class="bg-yellow">567</td>
        <td class="bg-yellow">589</td>
    </tr>
    <tr>
        <td>666</td>
        <td class="bg-yellow">110</td>
        <td class="bg-yellow">446</td>
        <td class="bg-yellow">880</td>
        <td class="bg-yellow">996</td>
        <td>046</td>
        <td>149</td>
        <td>189</td>
        <td class="bg-yellow"></td>
        <td>220</td>
        <td>330</td>
        <td>338</td>
        <td>554</td>
        <td>662</td>
        <td>774</td>
        <td>882</td>
        <td class="bg-yellow">024</td>
        <td class="bg-yellow">039</td>
        <td class="bg-yellow">125</td>
        <td class="bg-yellow">138</td>
        <td class="bg-yellow">167</td>
        <td class="bg-yellow">246</td>
        <td class="bg-yellow">279</td>
        <td class="bg-yellow">358</td>
        <td class="bg-yellow">457</td>
        <td class="bg-yellow">569</td>
        <td class="bg-yellow">679</td>
    </tr>
    <tr>
        <td>888</td>
        <td class="bg-yellow">114</td>
        <td class="bg-yellow">448</td>
        <td class="bg-yellow">884</td>
        <td class="bg-yellow">998</td>
        <td>048</td>
        <td>169</td>
        <td>468</td>
        <td class="bg-yellow">222</td>
        <td>224</td>
        <td>332</td>
        <td>442</td>
        <td>556</td>
        <td>770</td>
        <td>776</td>
        <td>992</td>
        <td class="bg-yellow">026</td>
        <td class="bg-yellow">057</td>
        <td class="bg-yellow">127</td>
        <td class="bg-yellow">145</td>
        <td class="bg-yellow">178</td>
        <td class="bg-yellow">248</td>
        <td class="bg-yellow">345</td>
        <td class="bg-yellow">367</td>
        <td class="bg-yellow">459</td>
        <td class="bg-yellow">578</td>
        <td class="bg-yellow">789</td>
    </tr>
    <tr>
        <th class="thead">双点注数</th>
        <td>4</td>
        <td colspan="4" class="bg-yellow">20</td>
        <td colspan="3">8</td>
        <td class="bg-yellow">1</td>
        <td colspan="7">25</td>
        <td colspan="11" class="bg-yellow">52</td>
    </tr>
    <tr>
        <th class="thead">类型注数</th>
        <td>6</td>
        <td colspan="4" class="bg-yellow">30</td>
        <td colspan="3">20</td>
        <td class="bg-yellow">4</td>
        <td colspan="7">60</td>
        <td colspan="11" class="bg-yellow">100</td>
    </tr>
    <tr>
        <th class="thead">总注数</th>
        <td colspan="8">56</td>
        <td colspan="19" class="bg-yellow">164</td>
    </tr>
</table>
