<table class="tbtable">
    <thead>
        <tr>
            <th>大小类型</th>
            <th colspan="4">余大</th>
            <th colspan="8">两大一小</th>
            <th colspan="8">两小一大</th>
            <th colspan="4">全小</th>
        </tr>
        <tr>
            <th>选号形式</th>
            <th>直选</th>
            <th colspan="2">组选3</th>
            <th>组选6</th>
            <th colspan="3">组选3</th>
            <th colspan="5">组选6</th>
            <th colspan="3">组选3</th>
            <th colspan="5">组选6</th>
            <th>直选</th>
            <th colspan="2">组选3</th>
            <th>组选6</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th rowspan="10">具<br />体<br />号<br />码</th>
            <td class="bg-yellow">555</td>
            <td class="bg-yellow">556</td>
            <td class="bg-yellow">557</td>
            <td class="bg-yellow">567</td>
            <td>550</td>
            <td>770</td>
            <td>990</td>
            <td class="bg-yellow">056</td>
            <td class="bg-yellow">156</td>
            <td class="bg-yellow">256</td>
            <td class="bg-yellow">356</td>
            <td class="bg-yellow">456</td>
            <td>055</td>
            <td>225</td>
            <td>445</td>
            <td class="bg-yellow">015</td>
            <td class="bg-yellow">035</td>
            <td class="bg-yellow">125</td>
            <td class="bg-yellow">145</td>
            <td class="bg-yellow">245</td>
            <td>000</td>
            <td>001</td>
            <td>223</td>
            <td>012</td>
        </tr>
        <tr>
            <td class="bg-yellow">666</td>
            <td class="bg-yellow">557</td>
            <td class="bg-yellow">778</td>
            <td class="bg-yellow">567</td>
            <td>551</td>
            <td>771</td>
            <td>991</td>
            <td class="bg-yellow">057</td>
            <td class="bg-yellow">157</td>
            <td class="bg-yellow">257</td>
            <td class="bg-yellow">357</td>
            <td class="bg-yellow">457</td>
            <td>006</td>
            <td>226</td>
            <td>446</td>
            <td class="bg-yellow">016</td>
            <td class="bg-yellow">036</td>
            <td class="bg-yellow">126</td>
            <td class="bg-yellow">146</td>
            <td class="bg-yellow">246</td>
            <td>111</td>
            <td>002</td>
            <td>224</td>
            <td>013</td>
        </tr>
        <tr>
            <td class="bg-yellow">777</td>
            <td class="bg-yellow">558</td>
            <td class="bg-yellow">885</td>
            <td class="bg-yellow">569</td>
            <td>552</td>
            <td>772</td>
            <td>992</td>
            <td class="bg-yellow">058</td>
            <td class="bg-yellow">158</td>
            <td class="bg-yellow">258</td>
            <td class="bg-yellow">358</td>
            <td class="bg-yellow">458</td>
            <td>007</td>
            <td>227</td>
            <td>447</td>
            <td class="bg-yellow">017</td>
            <td class="bg-yellow">037</td>
            <td class="bg-yellow">127</td>
            <td class="bg-yellow">147</td>
            <td class="bg-yellow">247</td>
            <td>222</td>
            <td>003</td>
            <td>330</td>
            <td>014</td>
        </tr>
        <tr>
            <td class="bg-yellow">888</td>
            <td class="bg-yellow">559</td>
            <td class="bg-yellow">886</td>
            <td class="bg-yellow">578</td>
            <td>553</td>
            <td>773</td>
            <td>993</td>
            <td class="bg-yellow">059</td>
            <td class="bg-yellow">159</td>
            <td class="bg-yellow">259</td>
            <td class="bg-yellow">359</td>
            <td class="bg-yellow">459</td>
            <td>008</td>
            <td>228</td>
            <td>448</td>
            <td class="bg-yellow">018</td>
            <td class="bg-yellow">038</td>
            <td class="bg-yellow">128</td>
            <td class="bg-yellow">148</td>
            <td class="bg-yellow">248</td>
            <td>333</td>
            <td>004</td>
            <td>331</td>
            <td>023</td>
        </tr>
        <tr>
            <td class="bg-yellow">999</td>
            <td class="bg-yellow">665</td>
            <td class="bg-yellow">887</td>
            <td class="bg-yellow">579</td>
            <td>554</td>
            <td>774</td>
            <td>994</td>
            <td class="bg-yellow">067</td>
            <td class="bg-yellow">167</td>
            <td class="bg-yellow">267</td>
            <td class="bg-yellow">367</td>
            <td class="bg-yellow">467</td>
            <td>009</td>
            <td>229</td>
            <td>449</td>
            <td class="bg-yellow">019</td>
            <td class="bg-yellow">039</td>
            <td class="bg-yellow">129</td>
            <td class="bg-yellow">149</td>
            <td class="bg-yellow">249</td>
            <td>444</td>
            <td>110</td>
            <td>332</td>
            <td>024</td>
        </tr>
        <tr>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">667</td>
            <td class="bg-yellow">889</td>
            <td class="bg-yellow">589</td>
            <td>660</td>
            <td>880</td>
            <td></td>
            <td class="bg-yellow">068</td>
            <td class="bg-yellow">168</td>
            <td class="bg-yellow">268</td>
            <td class="bg-yellow">368</td>
            <td class="bg-yellow">468</td>
            <td>115</td>
            <td>335</td>
            <td></td>
            <td class="bg-yellow">025</td>
            <td class="bg-yellow">045</td>
            <td class="bg-yellow">135</td>
            <td class="bg-yellow">235</td>
            <td class="bg-yellow">345</td>
            <td></td>
            <td>112</td>
            <td>334</td>
            <td>034</td>
        </tr>
        <tr>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">668</td>
            <td class="bg-yellow">995</td>
            <td class="bg-yellow">678</td>
            <td>661</td>
            <td>881</td>
            <td></td>
            <td class="bg-yellow">069</td>
            <td class="bg-yellow">169</td>
            <td class="bg-yellow">269</td>
            <td class="bg-yellow">369</td>
            <td class="bg-yellow">469</td>
            <td>116</td>
            <td>336</td>
            <td></td>
            <td class="bg-yellow">026</td>
            <td class="bg-yellow">046</td>
            <td class="bg-yellow">136</td>
            <td class="bg-yellow">236</td>
            <td class="bg-yellow">346</td>
            <td></td>
            <td>113</td>
            <td>440</td>
            <td>123</td>
        </tr>
        <tr>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">669</td>
            <td class="bg-yellow">996</td>
            <td class="bg-yellow">679</td>
            <td>662</td>
            <td>882</td>
            <td></td>
            <td class="bg-yellow">078</td>
            <td class="bg-yellow">178</td>
            <td class="bg-yellow">278</td>
            <td class="bg-yellow">378</td>
            <td class="bg-yellow">478</td>
            <td>117</td>
            <td>337</td>
            <td></td>
            <td class="bg-yellow">027</td>
            <td class="bg-yellow">047</td>
            <td class="bg-yellow">137</td>
            <td class="bg-yellow">237</td>
            <td class="bg-yellow">347</td>
            <td></td>
            <td>114</td>
            <td>441</td>
            <td>124</td>
        </tr>
        <tr>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">775</td>
            <td class="bg-yellow">997</td>
            <td class="bg-yellow">689</td>
            <td>663</td>
            <td>883</td>
            <td></td>
            <td class="bg-yellow">079</td>
            <td class="bg-yellow">179</td>
            <td class="bg-yellow">279</td>
            <td class="bg-yellow">379</td>
            <td class="bg-yellow">479</td>
            <td>118</td>
            <td>338</td>
            <td></td>
            <td class="bg-yellow">028</td>
            <td class="bg-yellow">048</td>
            <td class="bg-yellow">138</td>
            <td class="bg-yellow">238</td>
            <td class="bg-yellow">348</td>
            <td></td>
            <td>220</td>
            <td>442</td>
            <td>134</td>
        </tr>
        <tr>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">776</td>
            <td class="bg-yellow">998</td>
            <td class="bg-yellow">789</td>
            <td>664</td>
            <td>884</td>
            <td></td>
            <td class="bg-yellow">089</td>
            <td class="bg-yellow">189</td>
            <td class="bg-yellow">289</td>
            <td class="bg-yellow">389</td>
            <td class="bg-yellow">489</td>
            <td>119</td>
            <td>339</td>
            <td></td>
            <td class="bg-yellow">029</td>
            <td class="bg-yellow">049</td>
            <td class="bg-yellow">139</td>
            <td class="bg-yellow">239</td>
            <td class="bg-yellow">349</td>
            <td></td>
            <td>221</td>
            <td>443</td>
            <td>234</td>
        </tr>
        <tr>
            <th style="height:40px;">奇偶类型</th>
            <th>全奇</th>
            <th>两奇<br />一偶</th>
            <th>两偶<br />一奇</th>
            <th>全偶</th>
            <th>全奇</th>
            <th colspan="3">两奇一偶</th>
            <th colspan="3">两偶一奇</th>
            <th>全偶</th>
            <th>全奇</th>
            <th colspan="3">两奇一偶</th>
            <th colspan="3">两偶一奇</th>
            <th>全偶</td>
            <th>全奇</th>
            <th>两奇<br />一偶</th>
            <th>两偶<br />一奇</th>
            <th>全偶</th>
        </tr>
        <tr>
            <th rowspan="12">具<br />体<br />号<br />码</th>
            <td class="bg-yellow">555</td>
            <td class="bg-yellow">556</td>
            <td class="bg-yellow">665</td>
            <td class="bg-yellow">666</td>
            <td>551</td>
            <td>550</td>
            <td>059</td>
            <td class="bg-yellow">279</td>
            <td class="bg-yellow">661</td>
            <td class="bg-yellow">168</td>
            <td class="bg-yellow">467</td>
            <td class="bg-yellow">660</td>
            <td>115</td>
            <td>116</td>
            <td>125</td>
            <td class="bg-yellow">239</td>
            <td class="bg-yellow">005</td>
            <td class="bg-yellow">018</td>
            <td class="bg-yellow">128</td>
            <td class="bg-yellow">006</td>
            <td>111</td>
            <td>110</td>
            <td>001</td>
            <td>000</td>
        </tr>
        <tr>
            <td class="bg-yellow">777</td>
            <td class="bg-yellow">558</td>
            <td class="bg-yellow">667</td>
            <td class="bg-yellow">888</td>
            <td>553</td>
            <td>552</td>
            <td>079</td>
            <td class="bg-yellow">356</td>
            <td class="bg-yellow">663</td>
            <td class="bg-yellow">256</td>
            <td class="bg-yellow">469</td>
            <td class="bg-yellow">662</td>
            <td>117</td>
            <td>118</td>
            <td>127</td>
            <td class="bg-yellow">345</td>
            <td class="bg-yellow">007</td>
            <td class="bg-yellow">025</td>
            <td class="bg-yellow">146</td>
            <td class="bg-yellow">008</td>
            <td>333</td>
            <td>112</td>
            <td>003</td>
            <td>222</td>
        </tr>
        <tr>
            <td class="bg-yellow">999</td>
            <td class="bg-yellow">776</td>
            <td class="bg-yellow">669</td>
            <td class="bg-yellow">668</td>
            <td>770</td>
            <td>554</td>
            <td>156</td>
            <td class="bg-yellow">358</td>
            <td class="bg-yellow">881</td>
            <td class="bg-yellow">258</td>
            <td class="bg-yellow">478</td>
            <td class="bg-yellow">664</td>
            <td>119</td>
            <td>336</td>
            <td>129</td>
            <td class="bg-yellow">347</td>
            <td class="bg-yellow">009</td>
            <td class="bg-yellow">027</td>
            <td class="bg-yellow">148</td>
            <td class="bg-yellow">226</td>
            <td>113</td>
            <td>114</td>
            <td>221</td>
            <td>444</td>
        </tr>
        <tr>
            <td class="bg-yellow">557</td>
            <td class="bg-yellow">778</td>
            <td class="bg-yellow">885</td>
            <td class="bg-yellow">886</td>
            <td>773</td>
            <td>770</td>
            <td>158</td>
            <td class="bg-yellow">367</td>
            <td class="bg-yellow">883</td>
            <td class="bg-yellow">267</td>
            <td class="bg-yellow">489</td>
            <td class="bg-yellow">880</td>
            <td>335</td>
            <td>338</td>
            <td>136</td>
            <td class="bg-yellow">349</td>
            <td class="bg-yellow">225</td>
            <td class="bg-yellow">029</td>
            <td class="bg-yellow">236</td>
            <td class="bg-yellow">228</td>
            <td>331</td>
            <td>330</td>
            <td>223</td>
            <td>002</td>
        </tr>
        <tr>
            <td class="bg-yellow">559</td>
            <td class="bg-yellow">996</td>
            <td class="bg-yellow">887</td>
            <td class="bg-yellow"></td>
            <td>991</td>
            <td>882</td>
            <td>167</td>
            <td class="bg-yellow">369</td>
            <td class="bg-yellow">056</td>
            <td class="bg-yellow">269</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">882</td>
            <td>337</td>
            <td>015</td>
            <td>138</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">227</td>
            <td class="bg-yellow">036</td>
            <td class="bg-yellow">238</td>
            <td class="bg-yellow">446</td>
            <td></td>
            <td>332</td>
            <td>441</td>
            <td>004</td>
        </tr>
        <tr>
            <td class="bg-yellow">775</td>
            <td class="bg-yellow">998</td>
            <td class="bg-yellow">889</td>
            <td class="bg-yellow"></td>
            <td>993</td>
            <td>774</td>
            <td>169</td>
            <td class="bg-yellow">378</td>
            <td class="bg-yellow">058</td>
            <td class="bg-yellow">278</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">884</td>
            <td>339</td>
            <td>017</td>
            <td>145</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">229</td>
            <td class="bg-yellow">038</td>
            <td class="bg-yellow">245</td>
            <td class="bg-yellow">448</td>
            <td></td>
            <td>334</td>
            <td>443</td>
            <td>220</td>
        </tr>
        <tr>
            <td class="bg-yellow">779</td>
            <td class="bg-yellow">567</td>
            <td class="bg-yellow">568</td>
            <td class="bg-yellow"></td>
            <td>157</td>
            <td>990</td>
            <td>178</td>
            <td class="bg-yellow">389</td>
            <td class="bg-yellow">067</td>
            <td class="bg-yellow">289</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">068</td>
            <td>135</td>
            <td>019</td>
            <td>147</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">445</td>
            <td class="bg-yellow">045</td>
            <td class="bg-yellow">247</td>
            <td class="bg-yellow">026</td>
            <td></td>
            <td>013</td>
            <td>012</td>
            <td>224</td>
        </tr>
        <tr>
            <td class="bg-yellow">995</td>
            <td class="bg-yellow">569</td>
            <td class="bg-yellow">678</td>
            <td class="bg-yellow"></td>
            <td>159</td>
            <td>992</td>
            <td>189</td>
            <td class="bg-yellow">457</td>
            <td class="bg-yellow">069</td>
            <td class="bg-yellow">368</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">268</td>
            <td>137</td>
            <td>035</td>
            <td>149</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">447</td>
            <td class="bg-yellow">047</td>
            <td class="bg-yellow">249</td>
            <td class="bg-yellow">028</td>
            <td></td>
            <td>123</td>
            <td>014</td>
            <td>440</td>
        </tr>
        <tr>
            <td class="bg-yellow">997</td>
            <td class="bg-yellow">578</td>
            <td class="bg-yellow">689</td>
            <td class="bg-yellow"></td>
            <td>179</td>
            <td>994</td>
            <td>257</td>
            <td class="bg-yellow">459</td>
            <td class="bg-yellow">078</td>
            <td class="bg-yellow">456</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">468</td>
            <td>139</td>
            <td>037</td>
            <td>235</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">449</td>
            <td class="bg-yellow">049</td>
            <td class="bg-yellow">346</td>
            <td class="bg-yellow">046</td>
            <td></td>
            <td>134</td>
            <td>023</td>
            <td>442</td>
        </tr>
        <tr>
            <td class="bg-yellow">579</td>
            <td class="bg-yellow">589</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td>357</td>
            <td>057</td>
            <td>259</td>
            <td class="bg-yellow">479</td>
            <td class="bg-yellow">089</td>
            <td class="bg-yellow">458</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>039</td>
            <td>237</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">016</td>
            <td class="bg-yellow">126</td>
            <td class="bg-yellow">348</td>
            <td class="bg-yellow">048</td>
            <td></td>
            <td></td>
            <td>034</td>
            <td>024</td>
        </tr>
        <tr>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">679</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td>359</td>
            <td></td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">246</td>
            <td></td>
            <td></td>
            <td>124</td>
            <td></td>
        </tr>
        <tr>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">789</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td>379</td>
            <td></td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">248</td>
            <td></td>
            <td></td>
            <td>234</td>
            <td></td>
        </tr>
    </tbody>
</table>
