<table class="tbtable">
    <thead>
        <tr>
            <th>和数尾</th>
            <th colspan="3">0</th>
            <th colspan="3">1</th>
            <th colspan="3">2</th>
            <th colspan="3">3</th>
            <th colspan="3">4</th>
            <th colspan="3">5</th>
            <th colspan="3">6</th>
            <th colspan="3">7</th>
            <th colspan="2">8</th>
            <th colspan="2">9</th>
        </tr>
        <tr>
            <th>和数值</th>
            <th>0</th>
            <th>10</th>
            <th>20</th>
            <th>1</th>
            <th>11</th>
            <th>21</th>
            <th>2</th>
            <th>12</th>
            <th>22</th>
            <th>3</th>
            <th>13</th>
            <th>23</th>
            <th>4</th>
            <th>14</th>
            <th>24</th>
            <th>5</th>
            <th>15</th>
            <th>25</th>
            <th>6</th>
            <th>16</th>
            <th>26</th>
            <th>7</th>
            <th>17</th>
            <th>27</th>
            <th>8</th>
            <th>18</th>
            <th>9</th>
            <th>19</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>直选</th>
            <td>000</td>
            <td></td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">777</td>
            <td></td>
            <td>444</td>
            <td></td>
            <td class="bg-yellow">111</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td></td>
            <td></td>
            <td>888</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">555</td>
            <td class="bg-yellow"></td>
            <td>222</td>
            <td></td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">999</td>
            <td></td>
            <td>666</td>
            <td class="bg-yellow">333</td>
            <td class="bg-yellow"></td>
        </tr>
        <tr>
            <th rowspan="5">组选3</th>
            <td></td>
            <td>118</td>
            <td>668</td>
            <td class="bg-yellow">001</td>
            <td class="bg-yellow">119</td>
            <td class="bg-yellow">669</td>
            <td>002</td>
            <td>228</td>
            <td>778</td>
            <td class="bg-yellow">003</td>
            <td class="bg-yellow">229</td>
            <td class="bg-yellow">779</td>
            <td>004</td>
            <td>338</td>
            <td>996</td>
            <td class="bg-yellow">005</td>
            <td class="bg-yellow">339</td>
            <td class="bg-yellow">889</td>
            <td>006</td>
            <td>448</td>
            <td>998</td>
            <td class="bg-yellow">007</td>
            <td class="bg-yellow">449</td>
            <td class="bg-yellow"></td>
            <td>008</td>
            <td>558</td>
            <td class="bg-yellow">009</td>
            <td class="bg-yellow">559</td>
        </tr>
        <tr>
            <td></td>
            <td>226</td>
            <td>776</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">227</td>
            <td class="bg-yellow">885</td>
            <td>011</td>
            <td>336</td>
            <td>886</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">337</td>
            <td class="bg-yellow">887</td>
            <td>112</td>
            <td>446</td>
            <td></td>
            <td class="bg-yellow">113</td>
            <td class="bg-yellow">447</td>
            <td class="bg-yellow">997</td>
            <td>114</td>
            <td>556</td>
            <td></td>
            <td class="bg-yellow">115</td>
            <td class="bg-yellow">557</td>
            <td class="bg-yellow"></td>
            <td>116</td>
            <td>774</td>
            <td class="bg-yellow">117</td>
            <td class="bg-yellow">667</td>
        </tr>
        <tr>
            <td></td>
            <td>334</td>
            <td>884</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">335</td>
            <td class="bg-yellow">993</td>
            <td></td>
            <td>552</td>
            <td>994</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">445</td>
            <td class="bg-yellow">995</td>
            <td>220</td>
            <td>554</td>
            <td></td>
            <td class="bg-yellow">221</td>
            <td class="bg-yellow">663</td>
            <td class="bg-yellow"></td>
            <td>330</td>
            <td>664</td>
            <td></td>
            <td class="bg-yellow">223</td>
            <td class="bg-yellow">665</td>
            <td class="bg-yellow"></td>
            <td>224</td>
            <td>882</td>
            <td class="bg-yellow">225</td>
            <td class="bg-yellow">775</td>
        </tr>
        <tr>
            <td></td>
            <td>442</td>
            <td>992</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">443</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>660</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">553</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>662</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">771</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>772</td>
            <td></td>
            <td class="bg-yellow">331</td>
            <td class="bg-yellow">773</td>
            <td class="bg-yellow"></td>
            <td>332</td>
            <td>990</td>
            <td class="bg-yellow">443</td>
            <td class="bg-yellow">883</td>
        </tr>
        <tr>
            <td></td>
            <td>550</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">551</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">661</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>770</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>880</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">881</td>
            <td class="bg-yellow"></td>
            <td>440</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">991</td>
        </tr>
        <tr>
            <th rowspan="10">组选6</th>
            <td></td>
            <td>019</td>
            <td>389</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">029</td>
            <td class="bg-yellow">489</td>
            <td></td>
            <td>039</td>
            <td>589</td>
            <td class="bg-yellow">012</td>
            <td class="bg-yellow">049</td>
            <td class="bg-yellow">689</td>
            <td>013</td>
            <td>059</td>
            <td>789</td>
            <td class="bg-yellow">014</td>
            <td class="bg-yellow">069</td>
            <td class="bg-yellow"></td>
            <td>015</td>
            <td>079</td>
            <td></td>
            <td class="bg-yellow">016</td>
            <td class="bg-yellow">089</td>
            <td class="bg-yellow"></td>
            <td>017</td>
            <td>189</td>
            <td class="bg-yellow">018</td>
            <td class="bg-yellow">189</td>
        </tr>
        <tr>
            <td></td>
            <td>028</td>
            <td>479</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">038</td>
            <td class="bg-yellow">579</td>
            <td></td>
            <td>048</td>
            <td>679</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">058</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>068</td>
            <td></td>
            <td class="bg-yellow">023</td>
            <td class="bg-yellow">078</td>
            <td class="bg-yellow"></td>
            <td>024</td>
            <td>169</td>
            <td></td>
            <td class="bg-yellow">025</td>
            <td class="bg-yellow">179</td>
            <td class="bg-yellow"></td>
            <td>026</td>
            <td>279</td>
            <td class="bg-yellow">027</td>
            <td class="bg-yellow">379</td>
        </tr>
        <tr>
            <td></td>
            <td>037</td>
            <td>569</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">047</td>
            <td class="bg-yellow">678</td>
            <td></td>
            <td>057</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">067</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>149</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">159</td>
            <td class="bg-yellow"></td>
            <td>123</td>
            <td>178</td>
            <td></td>
            <td class="bg-yellow">034</td>
            <td class="bg-yellow">269</td>
            <td class="bg-yellow"></td>
            <td>035</td>
            <td>369</td>
            <td class="bg-yellow">036</td>
            <td class="bg-yellow">469</td>
        </tr>
        <tr>
            <td></td>
            <td>046</td>
            <td>578</td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">056</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>129</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">139</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>158</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">168</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>259</td>
            <td></td>
            <td class="bg-yellow">124</td>
            <td class="bg-yellow">278</td>
            <td class="bg-yellow"></td>
            <td>125</td>
            <td>378</td>
            <td class="bg-yellow">045</td>
            <td class="bg-yellow">478</td>
        </tr>
        <tr>
            <td></td>
            <td>127</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">128</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>138</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">148</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>167</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">249</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>268</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">359</td>
            <td class="bg-yellow"></td>
            <td>134</td>
            <td>459</td>
            <td class="bg-yellow">126</td>
            <td class="bg-yellow">568</td>
        </tr>
        <tr>
            <td></td>
            <td>136</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">137</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>147</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">157</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>239</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">258</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>349</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">368</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>468</td>
            <td class="bg-yellow">135</td>
            <td class="bg-yellow"></td>
        </tr>
        <tr>
            <td></td>
            <td>145</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">146</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>156</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">238</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>248</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">267</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>358</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">458</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>567</td>
            <td class="bg-yellow">234</td>
            <td class="bg-yellow"></td>
        </tr>
        <tr>
            <td></td>
            <td>235</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">236</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>237</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">247</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>257</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">348</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>367</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">467</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">245</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>246</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">256</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>347</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">357</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>457</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td></td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>345</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">346</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td>356</td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow">456</td>
            <td class="bg-yellow"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td></td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
        </tr>
        <tr>
            <th>组选注数</th>
            <td colspan="3">22</td>
            <td colspan="3" class="bg-yellow">22</td>
            <td colspan="3">22</td>
            <td colspan="3" class="bg-yellow">22</td>
            <td colspan="3">22</td>
            <td colspan="3" class="bg-yellow">22</td>
            <td colspan="3">22</td>
            <td colspan="3" class="bg-yellow">22</td>
            <td colspan="2">22</td>
            <td colspan="2" class="bg-yellow">22</td>
        </tr>
        <tr>
            <th>单选注数</th>
            <td colspan="3">100</td>
            <td colspan="3" class="bg-yellow">100</td>
            <td colspan="3">100</td>
            <td colspan="3" class="bg-yellow">100</td>
            <td colspan="3">100</td>
            <td colspan="3" class="bg-yellow">100</td>
            <td colspan="3">100</td>
            <td colspan="3" class="bg-yellow">100</td>
            <td colspan="2">100</td>
            <td colspan="2" class="bg-yellow">100</td>
        </tr>
    </tbody>
</table>
